[2014-02-15 15:20] Jetski5822 opened #9 "CasSaml11Response code lines unused"
I was looking at CasSaml1Response.cs and noticed that these lines are not actually used...

var xmlReaderSettings = new XmlReaderSettings();
xmlReaderSettings.ConformanceLevel = ConformanceLevel.Auto;
xmlReaderSettings.IgnoreWhitespace = true;
xmlReaderSettings.IgnoreComments = true;
xmlReaderSettings.CloseInput = true;

....

string authMethod = SamlUtils.GetAttributeValue(authenticationStmtNode.

[2014-07-29 13:06] Jetski5822 opened #13 "ProcessRequestAuthentication using stale Ticket"
https://github.com/Jasig/dotnet-cas-client/blob/master/DotNetCasClient/CasAuthenticationModule.cs

method OnAuthenticateRequest

line 144 CasAuthentication.ProcessTicketValidation();
This method checked for a new ticket, it then places this in to the Response, The next call is

line 148 CasAuthentication.ProcessRequestAuthentication()
This method uses the ticket from the previous request, and not

[2014-09-18 18:39] johnrickman opened #16 "Not being redirected"
Thanks for this library!

However, my site isn't being redirected to the provided URL. I'm not seeing any valuable logging in order to diagnose, only the web.config attributes. Is there a rewrite value or something that I should be checking for that would prevent the redirection?

[2014-10-06 14:52] herringm opened #18 "Service URL Truncated"
We have a third party application that uses URLs with an encoded data parameter. These are used for registration and other purposes and following these links prior to authentication result in any URL encoded characters at the end of the URL being lost during the CAS login process. See the URLs below from the resulting login chain which were captured from the browser developer tools:

[code]

As yo

[2014-11-10 02:46] gordonlin opened #19 "Dulplicated query items when redirecting from cas login page"
I encounter an issue during development using .net cas client.
Here is my original url: http://example.com/?param1=a&param2=b
After redirecting back from cas login page, the url turned out to be : http://example.com?param1=a&param2=b&param2=b

I step through the code and found that there might be wrong here:
https://github.com/Jasig/dotnet-cas-client/blob/master/DotNetCasClient/Utils/EnhancedUriBu

[2015-01-09 17:14] leleuj opened #20 "The latest version (v1.0.2) is not available in NuGet"
The last version is the 1.0.2, which is a security fix.

But the last version available in NuGet is the 1.0.1: http://www.nuget.org/packages/DotNetCasClient. I fear that people are still using this unsafe one.

Can we update the latest version 1.0.2 in NuGet?

Thanks.

[2015-02-02 16:39] rdev5 commented on #20
Is this project still being actively maintained and is it stable for production? Would also like to know if there are any tests available.

Thanks!

[2015-02-02 16:54] mmoayyed commented on #20
Yes it's perfectly active and stable. We just have not baked a whole lot of changes into it recently. what sort of tests are you looking for?

[2015-02-03 03:28] scottt732 commented on #20
I built and uploaded a package to NuGet  For some reason it is't doing the web.config transformation automatically anymore, though I think that the feature might have caused more configuration-related issues than it solved.  If anyone has a project that they can easily verify that it's working properly.  Also, I uploaded the symbols package to the symbol server, which should help users stepping th

[2015-02-03 10:30] leleuj commented on #20
It's working properly. I made a test with: https://github.com/casinthecloud/dotnet-cas-client-demo. Thanks.

[2015-02-03 10:30] #20 closed

[2015-02-24 16:44] cmazzon-rassystem opened #22 "After a first redirect loop, only a restart can put the system back"
From my browser:

GET https://id.rassystem.com.br/cas/login?service=http%3a%2f%2frascol.rassystem.com.br%2f net::ERR_TOO_MANY_REDIRECTS
Request URL:https://id.rassystem.com.br/cas/login?service=http%3a%2f%2frascol.rassystem.com.br%2f
Request Headers
Provisional headers are shown
Accept:text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,/;q=0.8
User-Agent:Mozilla/5.0 (Windows NT 6.3;

[2015-03-04 17:04] rdev5 opened #23 "Dynamic proxyCallbackUrl not suitable for static proxy chain configuration"
Hello again,

This issue just came up when we were trying to implement a post-redirect upon successful authentication via the Authorize attribute. We are essentially in the process of testing a complete rewrite to the CAS-OWA app that's currently out there (https://github.com/Unicon/cas-owa-2010) to use the current version of DotNetCasClient in .NET 4.5.

Original request:
https://www.example.com/

[2015-03-15 18:44] joshuakent commented on #22
I am having the same issue, it only seems to be affecting one application on our server. It is using the latest version of the client so we tried to roll it back to see if that would resolve the issue but it just happened again. Anyone had any luck tracing down what causes this issue? As soon as I restart the app it works fine for several days before breaking again.

[2015-03-19 16:49] rdev5 opened #24 "Bumping NETC-55"
References:
* https://issues.jasig.org/browse/NETC-55
* http://jasig.275507.n4.nabble.com/Apparent-bug-found-in-NET-CAS-client-bypassCasForHandlers-setting-td4661276.html

Has anything been done on these? It also appears that the current Wiki does not describe any information concerning bypassCasForHandlers.

[2015-03-19 17:23] mmoayyed commented on #24
Don't think so.

If you could submit a PR, that would be welcome.

[2015-03-19 18:17] rdev5 opened #25 "RequestEvaluator.GetRequestIsAppropriateForCasAuthentication() seems incomplete and appears to be causing redirect loop"
We've been tracing a redirect loop issue that appears to be stemming from a seemingly incomplete implementation of `GetRequestIsAppropriateForCasAuthentication()`

Given the following (and only) route in RouteConfig.cs:

[code]

Browsing our SSO application (complete rewrite of CAS-OWA) at https://example.com/app/ works just fine and loads the LoginController#Index method.
[code]

However, when br

[2015-03-19 18:18] rdev5 commented on #24
Sure - I need to finish debugging #25 and probably roll this into that PR when ready.

Thanks

[2015-03-19 18:26] rdev5 commented on #25
Eh, one more thing to note which could be looked at either way (e.g. should have specified vs. shouldn't have mattered)...

I had `serverName` in casClientConfig specified as https://example.com/app instead of https://example.com/app/ and am going to test this now to see if merely adding the trailing slash resolves the login misdirection...

[2015-03-19 21:37] rdev5 commented on #25
So after tracing my way back out to the client application, I found the cause for the redirect loop to actually be in the SSO web app itself when doing this in the Index method:

[code]

It appears I got notAuthorizedUrl and casServerLoginUrl mixed when thinking about what RedirectToLoginPage() was actually redirecting to. However, it did help me to discover the uncommitted NETC-55 issue which may

[2015-03-19 22:46] rdev5 commented on #25
Pull request: https://github.com/Jasig/dotnet-cas-client/pull/26

[2015-03-19 22:46] #25 closed

[2015-04-16 16:57] #24 closed

[2015-04-17 16:58] rdev5 commented on #23
Submitted in PR #26

[2015-04-17 16:58] #23 closed

[2015-05-26 08:54] guybe1977 opened #27 "Configure CAS client programmatically"
I need to configure the CAS client in run-time in order to allow multiple configurations for multiple environments. As I couldn't find a way to configure the CAS client besides changing the web.config, my current solution is to rewrite the web.config upon web application start.

I was wondering if there is another way to do it or if there is an intention to add a way to configure the client progra

[2015-05-26 09:12] mmoayyed commented on #27
post to the cas user mailing list please

[2015-05-26 09:12] #27 closed

[2015-05-27 04:55] wilsonson commented on #22
I have got the same issue on my project, can't find what's really wrong with the configuration. The problem can be solved temporally by restarting the application pool.

[2015-07-15 15:18] vaeringjar commented on #22
Recently had this issue with version client version 1.0.1. Restarting the system solved the problem. We have used the dotnet-cas-client since 2014 December without any CAS issues until last week, 2015 July. Non-dotnet clients seem unaffected.

My apache log4 spit out several of these, which I never saw until preceding and during the error. These events in the log have very little information to po

[2015-07-29 18:19] ghost opened #29 "Missing legacy files"
This seems pretty trivial, but annoying right off from the clone.

DotNetCasClient.csproj has references to the following legacy files:

[code]

[2015-07-29 18:22] mmoayyed commented on #29
Could I ask you to submit a PR to get this fixed?

[2015-07-29 18:35] ghost opened #30 "Entire project fails to build"
DotNetCasClient builds just fine by itself, but DotNetCasProxyDemoApp and ExampleWebSite throw errors when compiled separately. Also, when the entire solution builds, it throws circular file references errors. Should either build as the solution or as individuals or both.

[code]

[2015-07-29 18:42] vaeringjar commented on #29
Sure no problem. I'm in the middle of tracking down something else internal. I should get to it sometime today or tomorrow.

[2015-09-28 11:29] tcalvert opened #32 "Static CurrentPrincipal leads to shared authentication between threads"
Just got bitten by this today : once a user was authenticated on my ASP.NET website, everyone shared his/her identity!

This was due to the currentPrincipal variable being shared between requests (even though there is the ThreadStatic annotation).

I fixed it by making the following change :
        public static ICasPrincipal CurrentPrincipal
        {
            //get { return currentPrincipal;

[2015-09-28 13:04] mmoayyed commented on #32
Would you be able to post a PR?

[2015-09-29 07:46] tcalvert commented on #32
See PR #33

[2015-12-17 23:41] rdev5 opened #36 "Fixes proposed for preserving query string parameters for incoming SAML requests"
We're working on several updates to DotNetCasClient project internally, including a Couchbase (that is, distributed cachign) implementation of IServiceTicketManager and IProxyTicketManager.

Adjacent to this is work being done on a SAML IdP where the following two pull requests describe changes we've had to make to DotNetCasClient to better handle query string parameters.

Please see #34 and #35.

[2016-03-06 15:49] sunnymoon opened #40 "CacheServiceTicketManager threading issues"
For instance, when updating the sliding expiration, this is done by revoking and then reinserting the ticket into the Cache. If the thread gets interrupted while another thread is verifying the ticket, it will find the ticket is not in the cache and as such, fails and sends ASPXAUTH clear cookie to the browser, invalidating the authentication ticket.

[2016-03-06 15:51] sunnymoon opened #41 "CacheServiceTicketManager cleanup issues"
When the memory pressure is hig on the HttpContext.Current.Cache, it gets cleared by IIS. Then the user is actually "logged out" in the middle of an otherwise authenticated session.

Implementing the storage of local tickets on the HttpContext Cache seems flawed by design, since collection of items might not be totally controlled.

[2016-03-09 19:54] KirschnerMatt opened #42 "Prevent Override of [Authorize]"
I'm trying to use the .Net Cas Client alongside my custom Asp.Net Membership implementation. To do this, I would like to bind the client's Cas authorization to it's own Data Annotation, rather than have it simply override the default.

Is this possible?

[2016-03-14 19:35] vchopra88 opened #43 "Issue with asp.net postback"
**Steps to Repro**
Create a simple website, add a web page (webpage1.aspx) which can demonstrate a simple postback like retrieving isPostback value.
Configure the website .net CAS
Publish the website to IIS.
Set the default document to webpage1.aspx.

**Workaround**
As of now implemented a workaround by creating a default.aspx and redirecting to webpage1.aspx.

**Ask**
Is there CAS configuration w

[2016-03-14 21:25] randyh360 commented on #43
I've been updating a bunch of applications from IIS 6 to IIS 8.5 with integrated mode enabled lately and have run into this problem. You can take a look at the following [stackoverflow question](http://stackoverflow.com/questions/7228344/postback-doesnt-work-with-aspx-page-as-default-document/15353347) for more info, but basically you either have to put "webpage1.aspx" into your form's action attr

[2016-03-16 14:56] vchopra88 commented on #43
Thanks @randyh360 for providing information about modifying 'Application_BeginRequest', 'IsPostBack' value works okay now!

[2016-05-10 16:59] mmoayyed opened #44 "Move to Apereo org on Github"
Planning to move the repo to the Apereo org here on Github by Friday. Please speak up if you see an issue with that plan.

[2016-08-09 16:25] garster opened #45 "Implement OWIN client"
Any modern ASP.NET app will use OWIN to make the login interchangeable with Twitter, Facebook, Google, etc. We need an OWIN client to be able to talk to CAS.

[2016-08-11 15:53] LiamBateman opened #46 "Where to get the Proxy Ticket"
Not sure where else to ask this, I've got a successful integration with logs showing Proxy tickets coming back and I can see them in the cache. Is there a method or location that retrieves the current users proxy ticket?

[2016-08-12 06:29] #46 closed

[2016-08-22 10:39] LiamBateman opened #47 "Push new Nuget Packages"
The Nuget package seems to be missing this issue, which has been a significant problem for us - https://github.com/apereo/dotnet-cas-client/commit/36ca258371b1a546189547a52f7ec9c3d53bc30b

Are there any plans for a 1.0.3 release?

[2016-08-30 11:57] serac commented on #44
Believe we can close, no?

[2016-08-30 14:13] mmoayyed commented on #44
Possibly. We might want to rename this issue to also account for package names.

[2016-09-30 13:14] courchal commented on #47
Any development here?

[2016-10-19 20:55] drma-dev opened #48 "The demo project still work?"
I implemented the demo, clicked the login button redirects to the CAS login screen, returned to the demo project and still not displaying any information.

[2016-10-25 10:18] serac commented on #47
We take security bugs pretty seriously and I do try to review/accept pull requests that fix patent bugs, but that's about it. There's there's been no substantive development in well over a year. I've tried to recruit developers at my institution without much luck.

[2016-10-27 10:03] ssb03mark opened #49 "CAS for ApiController?"
Hi All,
MVC is working.
How use to ApiController?

[2016-10-31 10:16] serac commented on #49
Please ask questions on the mailing list, https://apereo.github.io/cas/Mailing-Lists.html.

[2016-10-31 10:16] #49 closed

[2017-03-29 15:14] hokiecoder opened #51 "Add Documentation For SAML Ticket Validator Time Tolerance"
Myself and others have been bitten by an issue (not a bug with the client) where the time clock difference between a client and server becomes greater than the 1 second default value for the SAML ticket validator (configured via the `ticketTimeTolerance` attribute of the `casClientConfig` configuration section). It has been argued that 1 second is not a realistic value, with which I agree. I'd lik

[2017-03-29 15:30] serac commented on #51
I have a fair bit of experience supporting the SAML 1.1 validator, and I can say from experience that 1s is simply more trouble than benefit. I would be wholly in favor of bumping the default to 30s; higher than that would require further analysis and consideration. As for documentation, I also agree that the description of the parameter at https://github.com/apereo/dotnet-cas-client needs to be u

[2017-03-29 15:32] serac commented on #51
The patch to address both the docs and the default is trivial. I'll submit a PR shortly.

[2017-04-08 17:13] hokiecoder commented on #9
I have commented out [lines 115-119](https://github.com/apereo/dotnet-cas-client/blob/a100ed07bcf901a8c351abadb287c28b9f344f18/DotNetCasClient/Validation/CasSaml11Response.cs#L115-L119), [line 152](https://github.com/apereo/dotnet-cas-client/blob/a100ed07bcf901a8c351abadb287c28b9f344f18/DotNetCasClient/Validation/CasSaml11Response.cs#L152), and [lines 163-166](https://github.com/apereo/dotnet-cas-

[2017-04-08 20:55] hokiecoder commented on #18
@scottt732 I have built the assembly using your `url-encoding-bugfix` branch fixes and found that there is still an unresolved issue when no valid ticket exists and the module redirects the client to the CAS server for authentication. Using your fix and a simple query string field value of a plus character ('+'):

1. Make sure there is no currently existing login with the CAS server.
2. Navigate t

[2017-04-11 20:17] #51 closed

[2017-04-12 01:12] hokiecoder commented on #42
@KirschnerMatt are you still experiencing this issue/have this need? I am trying to help work on the open issues for the project, so if you still want this answered I'll try to help look into it.

[2017-04-12 02:03] hokiecoder commented on #16
@johnrickman are you still experiencing this issue? I assume probably not since it's been 2.5 years. I am trying to help clean up the open issues with this project, so if you still need help I will do my best to assist! If not, we should get this issue closed.

[2017-04-12 02:19] hokiecoder commented on #19
I believe that this issue is completely resolved by the [url-encoding-bugfix](https://github.com/apereo/dotnet-cas-client/tree/url-encoding-bugfix) branch that is a proposed fix for issue #18. The changes in that branch do exactly what **gordonlin** has asked for here. Can the two issues be merged, or perhaps this one be closed with a reference to the earlier issue?

[2017-04-12 12:30] serac commented on #18
@hokiecoder can you please fork @scottt732's `url-encoding-bugfix` branch and make the change you suggested above? I'd be happy to review the full patch in context.

[2017-04-12 12:59] johnrickman commented on #16
I think it was resolved.

[2017-04-12 12:59] #16 closed

[2017-04-12 13:01] KirschnerMatt commented on #42
Nope, I wound up rolling my own custom Cas client using MVC filters.

[2017-04-13 04:23] hokiecoder commented on #29
@serac can close this issue now that the PR has been merged?

[2017-04-13 04:30] hokiecoder commented on #42
@KirschnerMatt Thanks for the quick reply back. Glad to hear you worked out a solution.

@serac OK to close this (now) non-issue?

[2017-04-13 11:46] serac commented on #42
Actually I think this sounds like a useful feature. Let's leave open and consider how we might accomplish it, possibly in context of a framework refactoring.

[2017-04-13 11:46] #29 closed

[2017-04-13 12:03] hokiecoder commented on #42
Sounds good. I'll add it to my to-do list. Any feedback/suggestions from other contributors on how this might best be accomplished will be greatly appreciated.

[2017-04-25 21:08] hokiecoder opened #54 "Ticket Caching Failing With Visual Studio 2017"
The TL;DR is that when running a CAS-enabled application in Visual Studio 2017 (IIS Express), the .NET cache provider (`System.Web.Caching.Cache`) is immediately expiring the new service tickets as soon as they are added to the cache. Thus, no service ticket is ever able to be validated. Below is how I arrived at this conclusion.

Recently my development computer at work bit the dust, prompting me

[2017-04-25 21:28] hokiecoder commented on #54
Another thing that I am curious about testing is whether or not the client, as is, experiences any issues on IIS on Windows Server 2016. I have only been using the client on up to Windows Server 2012 R2 without issue. But I wonder if whatever changed in VS2017 also changed in Windows Server 2016/IIS. When I can get my hands on IIS on 2012 I'll try it out. If anyone else is able to test this, I'd l

[2017-05-25 22:56] danransom commented on #54
We're seeing the same thing with Windows 10 Creator update (1703) in all versions of Visual Studio. Creating a pull request with this fix ...

[2017-06-13 21:53] webMan1 commented on #54
Thank you! I've been looking for this solution for days. This really needs to be done. For now, I've found that a quick fix is changing the time zone on your computer to UTC. If you don't mind your clock being off by a couple of hours while you're testing, it works okay.

[2017-06-16 16:20] phantomtypist commented on #54
@hokiecoder do you work at Virginia Tech?

[2017-06-20 13:44] phantomtypist commented on #54
So here are my thoughts for this issue after discussing with my team.

- This bug, problem if you will, is introduced when .NET 4.7 is installed on the machine that this code (your web application) runs on.
- .NET 2.0 and 3.x applications are unaffected.  The only impact is on .NET 4.x applications.

The following thoughts are in preparation of planning for the future of this project...

- The nug

[2017-06-20 17:23] hokiecoder commented on #54
@phantomtypist Yes, I do work at Virginia Tech. Also, to your last comment, I am not sure we need to go through all the work of building for two different .NET targets. At least with my testing, fixing the ticket expiration date to be a UTC date does not cause any problems with earlier versions of .NET. It seems that the `System.Web.Caching.Cache` class previously could handle dates in either form

[2017-06-20 17:47] phantomtypist commented on #54
Just to clarify... did you test this fix against an application compiled in .NET 2/3.x?

[2017-06-20 17:53] phantomtypist commented on #54
Ok, found out we probably don't need to change anything in the long term, maybe just temporarily... it's an actual bug in .NET 4.7's implementation of Cache.Insert.  I'll have to ask my contacts at MS if they can track down the status of this.

Ref: https://forums.asp.net/p/2123507/6145985.aspx

[2017-06-20 17:57] phantomtypist commented on #54
But IMHO, we should switch out to the System.Runtime.Caching provider for the .NET 4.x targets (it's not in .NET 2/3.x because it was part of Enterprise Library at that point.)

I'm suggesting the dual compilation targets because if you keep it all a single target, then you can't add new features when you need them because you are being held back by the lowest framework you support.

We have plans

[2017-06-20 17:59] phantomtypist commented on #54
I think this change works in .NET 2/3.x, but only by coincidence.  I'd have to do some testing, but I think because the .NET 2/3.x runtime doesn't have this new bug introduced in the .NET 4.x runtime, the cache expiration is just getting pushed out further... but not as obvious.

[2017-06-20 18:01] phantomtypist commented on #54
Docs on System.Runtime.Caching: https://msdn.microsoft.com/en-us/library/system.runtime.caching(v=vs.110).aspx

See remarks at the bottom of the doc page.

[2017-06-20 18:09] phantomtypist commented on #54
MS suggests that applications targeting .NET 4.x use System.Runtime.Caching instead of System.Web.Caching.  System.Web.Caching should be used in .NET 2/3.x applications.

https://docs.microsoft.com/en-us/dotnet/framework/performance/caching-in-net-framework-applications

[2017-06-20 18:16] hokiecoder commented on #54
@phantomtypist No, I have not tested against .NET 2/3, in all honesty because I have no use cases that require those older framework versions. I had (rather naively) assumed that if it worked in version 4.X (not 4.7) then all was well. The proposed patch in pull request #55 needs to be checked against all versions of the framework that are supported by this project. If I can find some free time, I

[2017-06-21 11:16] serac commented on #54
@phantomtypist I think you made a clear and compelling argument for multiple framework targets in the Nuget packages. +1 to that approach.

[2017-06-21 14:03] phantomtypist opened #56 "RFC: Support more target frameworks other than .NET 2/3.x"
This issue is spurred from issue https://github.com/apereo/dotnet-cas-client/issues/54 and related to PR https://github.com/apereo/dotnet-cas-client/pull/55.

# Background

When .NET 4.7 was GA'd, there was a bug introduced in the Cache.Insert method in System.Web.Caching.  Ref: https://forums.asp.net/p/2123507/6145985.aspx.  Now, it's debatable if this is an actual bug or not.  MS may have fixed

[2017-06-21 14:04] phantomtypist commented on #54
Please see my comments in issue https://github.com/apereo/dotnet-cas-client/issues/56

[2017-06-21 14:08] phantomtypist commented on #56
The work done in this issue will also allow us to address, at some point, both issues https://github.com/apereo/dotnet-cas-client/issues/47 and https://github.com/apereo/dotnet-cas-client/issues/45

[2017-06-21 14:34] phantomtypist opened #57 "Add StyleCop to project"
# The *Why*

Verbiage from the actual StyleCop

I understand that everybody has their own *style* in how they code, but I think it's beneficial for open source projects like this one to settle on a set of styles and conventions with regards to code.  StyleCop rules by default follow most of the standard guidelines set forth for C#.  I am not opposed to adding specific rules to conform to something

[2017-06-21 16:04] phantomtypist opened #58 "Add a DSL for build tasks"
# Purpose

To make it easier to manage the build tasks and process.   Contributors, forkers, and the build (CI) server will all run the same build script, with consistent repeatability with regards to building the project and nuget package.  Building in VS is not enough nowadays because it leads to "it works on my computer" builds.  By using a build script in addition to VS, you as the developer c

[2017-06-21 16:13] phantomtypist commented on #58
I have extensive experience using Fake, but I have no objections to using Cake (it's newer than Fake) because it's a C# build DSL.

Seeing that this project itself is written in C# I think it may be easier for future contributors to work on the build script, if necessary, if we picked Cake as the DSL for building the project.

If we picked Fake, then contributors would either have to know or be wi

[2017-06-21 17:32] phantomtypist commented on #44
@mmoayyed can you please elaborate, if you remember :), on your last comment so I can understand the intention better?

[2017-06-21 17:54] mmoayyed commented on #44
Sorry for the delay. Chaotic day.

So I may have been totally off-base since I now realize namespaces have no references to "jasig". So this can be closed, but you may want to take a pass update all refs from Jasig to Apereo. This may include license headers, readmes, etc.

[2017-06-21 18:22] sbubaron commented on #54
I'm in agreement with the multi-platform approach.

[2017-06-21 19:56] phantomtypist commented on #44
Gotcha.

[2017-06-21 19:56] phantomtypist commented on #44
And I totally understand... this is open-source... not our day jobs.

[2017-06-27 01:06] nicswan commented on #54
As a note, this issue manifested for me because .NET 4.7 was pushed as a critical update last week so was automatically added to production servers (yay!). So I imagine this will quickly become an issue for others as well. Thanks to @hokiecoder/@danransom for the fix. I was able to roll my own version and fix the issue for at least one of my apps.

[2017-07-12 18:41] #58 closed

[2017-07-14 15:09] phantomtypist opened #60 "web.config transformation missing in NuGet package version 1.0.2"
It was originally in packages prior to version 1.0.2.

Should probably be added back along with a PowerShell install script that doesn't end up creating duplicate entries in the web.config file... that used to happen and was a pain.

[2017-07-17 01:45] phantomtypist commented on #56
Work completed and in develop branch.  The project now requires that you use Visual Studio 2017 (any version) to work on it.  I went this way because it was easier to configure multi-framework support.

Now when you open the nuget package and look at it, there are different assemblies for .NET 2, 3.5, 4.0, and 4.5.

[2017-07-17 01:45] #56 closed

[2017-07-19 16:16] phantomtypist commented on #60
New web.config transformations added back in feature/issue-54 branch.

[2017-07-19 16:16] #60 closed

[2017-07-19 19:11] phantomtypist commented on #44
Done.

I left "jasig" in the namespaces of the Java client references that are in the comments throughout.  I looked over at the Java client code and they never changed the namespaces so I figured leave it alone here.

[2017-07-19 19:11] #44 closed

[2017-07-19 19:27] phantomtypist commented on #54
Heads up everyone!

We now have a pre-release NuGet package feed for alpha/beta/unstable versions of the DotNetCasClient package.  It can be found here: https://www.myget.org/gallery/dotnetcasclient-prerelease

Can you guys/gals please connect to the new feed and test the **1.1.0-beta0001** version of the package to see if this resolves the problem for you?  Report back if you have any problems or

[2017-07-19 20:22] phantomtypist opened #61 "RFC: Distributed cache provider for proxy and service ticket managers"
The current implementations provided are only store the proxy and service tickets in-memory or on disk locally to the web application.  The limitation of this model is that it will not support clustered, load balanced, or round-robin style configurations.

I plan on writing one, _or several_, distributed cache provider(s) for the proxy and service ticket managers.  I'd like to hear back from the c

[2017-07-19 20:51] phantomtypist commented on #61
I'd also like to know what .NET framework versions you would be targeting.

[2017-07-20 03:10] phantomtypist commented on #47
@LiamBateman Can you please take a look at my last comment on issue #54?  There is a pre-release of the nuget package for version 1.1.0 and it includes the changeset you referenced.

[2017-07-20 03:17] phantomtypist commented on #41
@sunnymoon this could be solved by the RFC for a distributed cache provider in issue #61, correct?

I think any time you use an in-memory cache, such as System.Web.Caching or System.Runtime.Caching, you are going to run into the possibility of IIS recycling the app pool.  The in-memory caching just isn't durable.... there is no serialization to disk.

I guess another possibility is making a cache

[2017-07-20 03:18] phantomtypist commented on #40
@sunnymoon when you say "updating the sliding expiration", do you mean in the web.config file?

[2017-07-20 03:19] phantomtypist commented on #40
@sunnymoon Any chance you can get me a reproduction case (detailed/steps)?

[2017-07-20 03:25] phantomtypist commented on #42
We've done something similar with our applications however I'm not sure how easy it would be to do here and now.  Let's say we introduced an action attribute called [CasAuthorize] that people could use, we'd have to come up with a way to not break people's existing code (i.e. they are already using [Authorize].)

Again, we'd need to take a look at the do-ability of this one without making too big

[2017-07-20 04:13] phantomtypist opened #62 "Create and publish symbol package"
Create and publish symbol packages ~~on www.symbolsource.org (for production NuGet packages) and~~ on MyGet for ~~pre-release~~ all NuGet packages.

The symbol package will greatly enhance the debugging experience for anyone using the .NET CAS Client.

- MSDN Docs about symbol packages: https://msdn.microsoft.com/en-us/library/ms241613.aspx
- How to use symbol packages in VS: http://www.symbolsour

[2017-07-20 20:07] jsaley commented on #54
Hi Jason, this works for us at campus residences. Thanks.

[2017-07-20 23:34] nicswan commented on #54
@phantomtypist This is working for me on a 4.0.3 app on a server with .NET 4.7.

[2017-07-28 17:15] MeliDreamingSand commented on #54
@phantomtypist This does not work for me. I couldn't get the logging to work either. I had to go back to the stable version to get the log to work again.
According to the log from the stable version, the cache was not stored and the assertion expiration time is not correct.

[2017-07-28 17:37] phantomtypist commented on #54
@MeliDreamingSand a few questions:

- What version of the "stable" NuGet package did you revert back to?
- Could you provide code on how you had the logging wired up when it wasn't working?
- What version of the .NET framework is your application targeting?
- What flavor of ASP.NET (and version) is your application using?

[2017-07-28 19:32] MeliDreamingSand commented on #54
@phantomtypist thanks for the reply!

- I reverted back to the one that is currently on the master branch.
- I copied-paste the logging directly from the release README. I was able to have the logging using that same code for the stable version.
- 4.5
- I'm using MVC 5 for the apps.

Please let me know if I need to provide more information. Thanks again!

[2017-07-28 20:19] phantomtypist commented on #54
@MeliDreamingSand

Still confused with one item.  When you say "I reverted back to the one that is currently on the master branch" did you mean:

1. You cloned the repo (master branch) and manually referenced the code/project in your project,
2. You referenced the nuget package version 1.0.2 from here (https://www.nuget.org/packages/DotNetCasClient/), or
3. You manually downloaded the release from

[2017-07-28 20:42] MeliDreamingSand commented on #54
@phantomtypist
Sorry for not making it clear. I manually downloaded the release from here (https://github.com/apereo/dotnet-cas-client/tree/master) and manually referenced the DLL files for debugging.
Currently all of our apps that's using the nuget package version 1.0.2 have the redirecting issue.

[2017-07-28 20:48] sbubaron commented on #54
@MeliDreamingSand have you tried the pre-release version at https://www.myget.org/gallery/dotnetcasclient-prerelease ?

[2017-07-28 20:58] MeliDreamingSand commented on #54
@sbubaron
Yes I have tried that; it also didn't work.

[2017-07-28 21:08] sbubaron commented on #54
Is this issue happening on your dev machines? Are you running Windows 10 with Creators Update?
Or are you running .net 4.7?

[2017-07-28 21:30] MeliDreamingSand commented on #54
This issue is happening on both dev machine and production server. My dev machine is windows 10 with the .net 4.7 update while production server is windows 2008 with the .net 4.7 update as well.

[2017-08-01 00:32] MeliDreamingSand commented on #54
@phantomtypist and @sbubaron
Thank you all for helping! I am able to get the apps to work after deleting the .net 4.7 update, re-update it, and re-download the pre-release version.
Still can't get the logging to work, but at least the apps are working.
Thanks again!

[2017-08-01 12:36] lanorkin opened #63 "Bad practice to store per-request value in ThreadStatic variables in ASP.Net"
In ASP.Net, there's no guarantee that a request will use the same thread for its entire duration, see here for example https://stackoverflow.com/a/4791234/2170171

As a result this logic with `[ThreadStatic]` works on small load, but can lead to security issues on highload:

https://github.com/apereo/dotnet-cas-client/blob/master/DotNetCasClient/CasAuthentication.cs#L107

[code]

One of possible s

[2017-08-01 14:35] phantomtypist commented on #63
@lanorkin

Just to confirm, this is a duplicate of issue #32?

There is a PR already out with a fix, but we'll have to review it.  If you have time, please look at the PR and provide feedback in issue #32 so the original person how submitted the PR can see your comments.

Much appreciated!

[2017-08-01 16:55] blakepell commented on #54
The individual critical 4.7 update caused this behavior for us also on a production server.  However, on a staging server that update was applied via ".NET Framework July 2017 Preview of Quality Rollup" with other patches, and that server did not exhibit the same behavior (presuming that it later applied something that fixed it).

Regardless, the 1.1.0-beta0001 branch fixed the issue.  Thank you t

[2017-08-02 05:36] lanorkin commented on #63
@phantomtypist Yes, it demonstrates the result of sharing thread between requests. I would say that this #63 is not duplicate, as #32 is caused by #63, but sure it's up to you to decide.
I don't agree with fix though, will comment in #32

[2017-08-02 06:00] lanorkin commented on #32
I think that fix is valid as quick-fix, but in long run it's bad idea to rely on `Thread.CurrentPrincipal`, as it highly restricts design of library user.

I can easily imagine applications where CAS authentication will be just one of allowed authentications, which for example provide additional permissions / roles to user already authenticated with say usual login / password.

In these cases deve

[2017-08-02 15:33] phantomtypist commented on #63
Thanks for taking the time you put into this.  After a short review, I think I'm on the same page as @serac with a possible alternative solution (https://github.com/apereo/dotnet-cas-client/pull/33#issuecomment-155762594).  Did you happen to read that comment?  If so I'd like to hear your thoughts?

Maybe duplicate is not the right word.  Boy do I wish that GitHub issues was as robust/enterprise-g

[2017-08-02 21:53] tcalvert commented on #32
The problem with using anything from HttpContext is that you may not have access to this class in the places where you want to check the current user (for various reasons). I also vaguely remember experimenting with using the HttpContext before submitting this PR, and found it wasn't appropriate.

Regardless, this bug is a serious issue (which luckily got caught before it went into production). It

[2017-08-03 07:06] lanorkin commented on #63
@phantomtypist @tcalvert @serac
Not sure what is best place to discuss this as we already have discussions here, in issue #32 and in PR #33. Let it be here. I completely agree with fix in PR *in short term* (hey, who am I kidding? two years is not short term, so I think you PR should be just merged and released to nuget, as that's really huge security flaw, which is really not good for an authenti

[2017-08-07 07:36] terrybj commented on #54
Hi, anyone try this on Windows Server 2012 + .Net Framework 4.7? I still had such problem after getting NuGet package from https://www.myget.org/gallery/dotnetcasclient-prerelease.
Not sure if need more configuration? I just copied the components under net45 folder to website bin folder.

[2017-08-09 10:16] lanorkin opened #64 "SAML params are hardcoded: RequestID, IssueInstant"
I see here https://github.com/apereo/dotnet-cas-client/blob/master/DotNetCasClient/Validation/TicketValidator/Saml11TicketValidator.cs#L190 the following:

[code]

As you can see everything except ticket is harcoded.

Is it intended? From my understanding, parameters like `RequestID` / `IssueInstant` should be unique / regenerated for each request.

[2017-08-09 11:38] lanorkin commented on #40
@phantomtypist I think @sunnymoon is talking about these lines

https://github.com/apereo/dotnet-cas-client/blob/master/DotNetCasClient/CasAuthentication.cs#L950

[code]

and subsequently about this implementation https://github.com/apereo/dotnet-cas-client/blob/master/DotNetCasClient/State/CacheServiceTicketManager.cs#L111 of `UpdateTicketExpiration`:

[code]

I would not say it is threading issu

[2017-08-09 11:57] lanorkin commented on #41
@phantomtypist I don't think backing up in-memory to file is good idea. It will require significant efforts to implement it in a good way (like support multithreading, possible issues with file read/write, issues with network drives etc), and it still won't work in distributed environments, like scale up in Azure etc.

There are many ways which will lead to in-memory cache cleanup, so I think it w

[2017-08-09 14:27] phantomtypist commented on #64
Good catch.  I'm not sure why that was hardcoded.  Did you do any testing with making RequestID and IssueInstant to see if intended behavior changed?

The Java client is generating those values dynamically:

- https://github.com/apereo/java-cas-client/blob/master/cas-client-core/src/main/resources/META-INF/cas/samlRequestTemplate.xml
- https://github.com/apereo/java-cas-client/blob/master/cas-clie

[2017-08-09 14:36] phantomtypist commented on #41
I'll be finalizing the 1.1.0 release today and at the same time cleaning up a bit of the documentation on the readme.  I'll add a note for that.  Some of the content from the readme will be migrated to the GitHub wiki in this repo too.

I'm going to close this issue as the in-memory caching is working _by design_ (in .NET, that is.)  If anybody wants a scenario where the tickets survive an IIS or

[2017-08-09 14:36] #41 closed

[2017-08-09 14:46] phantomtypist commented on #40
@lanorkin Yeah, I'm not sure why the call to revoke is in there.  I'll take a look at it after the 1.1.0 release and possibly just remove the call to Revoke like you said.  The Insert behavior is the same in both System.Web.Caching and System.Runtime.Caching.

As for the thread-safety comment... I agree there shouldn't be an issue, but I could never find definitive verbiage in the documentation th

[2017-08-09 18:16] lanorkin commented on #64
What I *think* should be happening is

1) Client should generate random / unique `RequestID` field
2) Server should include `InResponseTo` field and fill it with `RequestID` value
3) Client should compare `InResponseTo` field with the value it sent to server and reject response if that doesn't much

I really passerby in CAS area, and I haven't look carefully at saml specs, but for me that at least

[2017-08-09 18:24] lanorkin commented on #40
Re `Cache` thread safety from MSDN

`System.Web.Caching`, https://msdn.microsoft.com/en-us/library/system.web.caching.cache(v=vs.110).aspx

`System.Runtime.Caching`,  https://msdn.microsoft.com/en-us/library/system.runtime.caching.memorycache(v=vs.110).aspx

[2017-08-09 22:30] sunnymoon commented on #40
Imagine any browser makes two parallel requests to a .net application. One handled by thread 1 and another by thread 2.

Now thread 1 verifies the ticket is in the service ticket cache and proceeds to the revoke/insert code and actually executes the revoke operation, in fact removing the ticket from the cache. Then thread 1 is put asleep from the kernel threading subsystem and thread 2 actually tr

[2017-08-09 22:50] sunnymoon commented on #41
We've implemented an alternative with a static global variable. The reallity is if the application  pool gets recicled we'll loose all logged in session, true.

But actually the webcache is actually cleared by .net at any point in time, nevermind the pool recycling. It depends only on memory pressure and not memory exhaustion...

Please read
https://msdn.microsoft.com/en-us/library/system.web.cach

[2017-08-09 22:53] sunnymoon commented on #61
The issue with redis/memcached/apache ignite.net and others is actually the (non existent) support for .net 2 or 3.
We, for instance have that problem (not for much longer) in production because of some legacy .net apps.

[2017-08-10 03:14] lanorkin commented on #40
@sunnymoon To be on the same page - is it correct that case you are describing is about requests which affects the same ticket, so real-life case is concurrent requests from the *same* user?

[2017-08-10 10:01] sunnymoon commented on #40
Y3 s

On 10 Aug 2017 04:14, "Vladimir Vedeneev" <notifications@github.com> wrote:

@sunnymoon <https://github.com/sunnymoon> To be on the same page - is it
correct that case you are describing is about requests which affects the
same ticket, so real-life case is concurrent requests from the *same* user?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on

[2017-08-10 14:41] phantomtypist commented on #54
@MeliDreamingSand

I want to follow-up on the logging issue you are having.  Nothing was changed between 1.0.2 and the current beta for 1.1.0 with regards to logging.

Just to double check things... you have it configured like stated on the readme file in the repo (towards the bottom) and also took note of this note:

If the application pool does have access to where you are writing the log file t

[2017-08-10 14:59] phantomtypist commented on #40
So we (internally at my company) ran into this issue you describe @sunnymoon.

I believe I mitigated this for .NET 4.x applications in the 1.1.0 beta release.  You can review the code in the release branch for this version (linked below.)  There is a cache manager (as a singleton) that wraps access to the System.Runtime.Caching calls and also includes some locking... that way even in a multi-threa

[2017-08-10 15:00] phantomtypist commented on #40
I could hypothetically do the same thing with the .NET 2/3.x code route.

[2017-08-10 18:27] phantomtypist commented on #64
I appreciate your feedback and eyeballs.  I'll take a closer look at what the Java and PHP clients are doing and then take your suggestion into consideration (as a whole) and go from there.

Ideally the .NET, Java, and PHP clients (the official clients that is) should all be implemented in a similar fashion and exhibit the same behaviors.

[2017-08-10 18:38] sbubaron commented on #54
@MeliDreamingSand

Just to add on to @phantomtypist thoughts, my trace files aren't being written where I expected them to be, I used the default config specified so I was looking for them under C:\inetpub\logs\LogFiles

However, on IISExpress (my local dev box) they are instead being written to: C:\Users\USERNAME\Documents\IISExpress\TraceLogFiles\PROJECTNAME

Unsure what is causing this

[2017-08-10 19:19] phantomtypist commented on #54
@MeliDreamingSand

I believe I have fixed the logging issue.  Can you update your nuget package reference to the new 1.1.0-beta0004 release and let me know if that fixes logging for you?

https://www.myget.org/feed/dotnetcasclient-prerelease/package/nuget/DotNetCasClient

[2017-08-10 19:41] sbubaron commented on #54
version 1.1.0-beta0004 worked for me, a dotnetcasclient.log is now being written to the file specified in web.config as expected. The files previously mentioned by me that are in the iisexpress\tracelogfiles\project are different (though contain some references to dotnetcas)

thanks @phantomtypist

[2017-08-10 19:50] MeliDreamingSand commented on #54
@phantomtypist
Version 1.1.0-beta0004 worked for me too.
Thank you!

[2017-08-10 19:51] phantomtypist commented on #54
Great.  I think this rounds out all the issues people discussed during the beta testing so far.

I will be releasing the full 1.1.0 release shortly both on here as a binary release and also on NuGet.org (the production nuget feed for this package.)

[2017-08-10 20:41] phantomtypist commented on #47
@LiamBateman @courchal

Version 1.1.0 released to nuget.org.

[2017-08-10 20:41] #47 closed

[2017-08-10 20:42] phantomtypist commented on #54
Version 1.1.0 released to nuget.org

[2017-08-10 20:42] #54 closed

[2017-08-10 21:09] sunnymoon commented on #40
None of the links you posted seem to work @phantomtypist...

[2017-08-10 22:04] phantomtypist commented on #40
Too fast for ya ;)

Check the master branch now.

[2017-08-11 01:32] phantomtypist commented on #61
Support for Memcached client in pull request #39 and #38

[2017-08-11 01:41] phantomtypist commented on #61
@sunnymoon my plan is to support whatever we can.

Starting in version 1.1.0 of this project, we now support multiple target frameworks in the .NET CAS Client.  Any of these distributed caching providers that are included in the repo will be built as separate NuGet packages that you can "add-on" to the main core nuget package to extend its functionality.

Let's say there are only Redis libraries o

[2017-08-11 01:44] phantomtypist commented on #61
To clarify, if you open the 1.1.0 version of this projects' nuget package, you'll see that there are four distinct assemblies in it, each compiled for a different target framework.  This will allow us to continue to support older framework versions while at the same time adding new features for modern framework versions.

[2017-08-11 01:50] phantomtypist commented on #18
@serac agreed, I smell unit tests coming! :D

@hokiecoder see the question I just added in PR #53.  If you don't have the time to actually work on the unit test project that's fine, but I'd still like to hear your opinion on the question I asked since we'll be working on this project together in the future.

[2017-08-11 01:55] phantomtypist commented on #9
@hokiecoder @Jetski5822

I think I'm going to take a glance over at the Java and PHP client repos to see what they are doing to get some insight as to what this code might have been used for at one point or intended to be used for.

[2017-08-11 03:39] phantomtypist commented on #48
"ExampleWebSite" or "ProxyDemoApp"?

[2017-08-11 06:20] lanorkin commented on #40
@phantomtypist

I don't see how you address the problem in question

Here https://github.com/apereo/dotnet-cas-client/blob/master/DotNetCasClient/State/MemoryCacheServiceTicketManager.cs#L107 in `MemoryCacheServiceTicketManager` you still have the same logic:

[code]

So if thread A now is between `Revoke` and `Insert`, and thread B is querying cache for existence of ticket - thread B will not fou

[2017-09-05 22:53] srkirkland opened #67 ".NET Core Support?"
ASP.NET Core has a very different authentication format which is built on the Microsoft.AspnetCore.Authentication namespace (you can see their code here: https://github.com/aspnet/Security).   They already provide many pre-built authentication providers, including OAuth, OIDC, JWT, Facebook, Google, etc, and other people have written extensions to bring in even more providers.  As far as I can tel

[2017-09-06 17:02] phantomtypist commented on #67
Hi Scott!

The short answer is yes, I plan on adding .NET Core support.  Some of the recent updates I made with regards to multi-platform/framework support laid the groundwork for adding .NET Core support (TLDR: one solution and code base to rule them all..kinda.)

Time-wise I'm probably not going to get it it until November/December because the semester just started at Stony Brook.  I'm sure you

[2017-09-06 17:14] phantomtypist commented on #67
@srkirkland

What are your thoughts on only supporting .NET Core 2.x (no support for .NET Core 1.1)?

[2017-09-06 18:04] phantomtypist commented on #67
Based on the .NET Standard documentation it looks like we'd be supporting both .NET Standard version 1.4 (or 1.5) and 2.0.

[2017-09-07 18:04] srkirkland commented on #67
@phantomtypist ok thanks, I'd be happy to help if I can once the hard part of getting .Net Standard compatibility is done.

[2017-09-13 18:07] TheHokieCoder commented on #43
The core issue here is that the IIS default document module performs a rewrite of the requested URL. This means that when a request path of `/` is encountered, IIS rewrites the request (internally for its routing mechanisms) as `/webpage1.aspx` (using **vchopra88**'s repro). Unfortunately, the rewritten request path value never makes it to the page's form `action` attribute, which ends up breaking

[2017-09-13 18:07] #43 closed

[2017-09-13 18:15] phantomtypist commented on #43
Forgive my ignorance, but is this only an issue with WebForms?  I don't believe my group has ever experienced this problem with MVC.

[2017-09-13 18:29] TheHokieCoder commented on #43
@phantomtypist I believe it would only rear itself when using WebForms because MVC is 100% based on routes (e.g. `/{controller}/{action}`) whereas WebForms is based (mostly) on documents. The default document module emulates a route by taking the request to `/` and "mapping" it to `/webpage1.aspx`, but in doing so something forgets to update the HTML form server side to the new URL.

It's been a w

[2017-09-13 18:32] phantomtypist commented on #43
Yeah, MVC doesn't really have any concept like PostBack nor ViewState (at least in the WebForms sense.)

Thanks for the explanation.  I just wasn't sure if this problem manifested itself in a different way on MVC or not.

[2017-09-14 17:26] TheHokieCoder opened #68 "Strong-naming Assembly"
Looking to get some feedback from the other developers and users of this package to see if we should start strongly naming the assembly. The StackOverflow answer linked below has some good points as to why it should be done. The main reason why I am for it is that a project that references the DotNetCasClient assembly cannot, itself, be strongly-named since the assembly is not strongly-named. In o

[2017-09-14 19:37] phantomtypist commented on #68
*sigh*

I guess somebody was eventually going to bring this up...

If this project was any more popular there'd be pitchforks and torches by now ;)

![The Simpsons angry mob](https://media.giphy.com/media/8mOuDnUzIfQs/giphy.gif)

[2017-09-14 19:43] phantomtypist commented on #68
Since all referenced assemblies of a strongly-named assembly must also be strongly-named, that leads to a problem with our NuGet "extension" packages discussed in #61 and #38.

We'd have to ensure the references inside those extensions (e.g. to Redis, Memcached, etc) also be strong named.

Here is a take on that: https://stackoverflow.com/questions/28584950/what-is-the-difference-between-stackexch

[2017-09-14 19:45] phantomtypist commented on #68
A good discussion I found a long time ago was the one with regards to Octokit.

Discussion: https://github.com/octokit/octokit.net/issues/405

Outcome: https://github.com/octokit/octokit.net/blob/master/docs/strong-naming.md

[2017-09-14 19:52] phantomtypist commented on #68
Personally speaking, I'm more on the side of "it's useless" if your rationale for strong-naming is to prevent tampering/alteration... because of "security".

It's been a long time misconception.  If you want to truely prevent tampering of assemblies and impersonation you'd go the route of Authenticode and Code Signing Certificates.

Strong-naming can easily be bypassed via Assembly Binding Redirec

[2017-09-14 19:54] phantomtypist commented on #68
Here are some thoughts from the .NET core framework team: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/strong-name-signing.md

They themselves even say that strong naming is a vestigial thing from bygone eras of .NET.... however there are some specific situations where they are required.

[2017-09-14 20:11] phantomtypist commented on #68
@scottt732 @mmoayyed @serac

Your thoughts on the thread and more specifically my last comment with the [proposal](https://github.com/apereo/dotnet-cas-client/issues/68#issuecomment-329591096)?

[2017-09-14 20:53] TheHokieCoder commented on #68
@phantomtypist Thanks for all the links/references.

No, my goal is not to prevent tampering, but merely to indicate it. In reality, providing little more usefulness over supplying hashes of the binary with the difference being that with signing the user doesn't have to perform the verification themselves. Right now, in isolation, there is no way to look at two v1.1.0 copies of the same DotNetCasC

[2017-09-14 21:02] phantomtypist commented on #68
@TheHokieCoder it's not a lot of effort for me to implement and make the second package.  I can see there being a benefit for people that need a strongly named package.  I'm going to assume someone out there has probably already cloned this repo locally and strong named the assembly for their use internally because we haven't done so.

If it makes it easier for even that one person to get updates

[2017-09-15 14:24] phantomtypist commented on #68
Differences between **signing** and **strong naming**: https://blogs.msdn.microsoft.com/shawnfa/2005/12/13/authenticode-and-assemblies/

[2017-09-15 14:32] phantomtypist commented on #68
I'd like to know if anybody that uses this project has a need for an actual signed (using Authenticode) assembly?  (i.e. since because this project deals with authentication, it might be important for someone to verify the assembly being used isn't impersonated or tampered with.)

The thing most people (indirectly) ask for with regards to this topic (here and elsewhere) is strong naming, which onl

[2017-09-15 14:56] TheHokieCoder commented on #68
@phantomtypist Thanks for that article on Authenticode vs. strong naming. My naiveté with respect to the whole signing vs. strong naming concept lead me to believe that the two were one in the same, as far as .NET goes. Now that I understand things much better (kudos to all your helpful links) I am firmly of the stance that in my use cases I am only interested in **signing** my assemblies. But sig

[2017-09-15 20:03] phantomtypist commented on #68
## Strong Naming

I believe strong naming really should be an issue anymore because people making web applications should be deploying the dependencies/references inside the app's bin folder (except for core framework ones.)

The whole strong naming thing, for uniqueness, came from the darn GAC.  I avoid putting stuff in there like the black plague.  And if you want to deploy your stuff to Azure,

[2017-09-15 20:05] phantomtypist commented on #67
@srkirkland much appreciated.

[2017-10-05 04:05] phantomtypist commented on #62
To simply things, I'm going to just publish the symbols to *only* MyGet's symbol server.  All the versions of the package are already stored on MyGet to begin with.  Production ones are pushed to NuGet.org.

Going forward users would need to add the MyGet symbol server feed(s) to their Visual Studio (Ref: https://docs.myget.org/docs/reference/symbols)

[2017-10-06 02:41] satnamsarai opened #69 "Store service ticket in sql database support?"

[2017-10-06 02:42] satnamsarai commented on #69
Allow to save service tickets to database I.e sql

[2017-10-06 02:50] satnamsarai opened #70 "Gateway with sign in button on site"
We would like to log in user automatically if user already logged into one of our other site.   If not, then show login button on page and perform login via redirected to cas. We have sign button on landing page which redirect user to CAS logon (without gateway flag).  CAS logon works, but when cas .net client try to validate service ticket it encounter an error that Service Ticket url and site ur

[2017-10-06 03:16] phantomtypist commented on #69
This is pretty much what issue #61 is about.  I have updated the issue to reflect SQL Server.

[2017-10-06 03:16] #69 closed

[2017-10-06 04:13] satnamsarai commented on #69
Great. Thanks

[2017-10-06 04:21] TheHokieCoder commented on #69
@satnamsarai I was interested in this for one of my own projects, so I will keep you in mind as I help develop a solution that supports, in my case, a Microsoft SQL Server database. Comment on issue #61 with any requirements or feature requests that you might have and make sure to specify that it applies to a SQL DB backend.

[2017-10-06 04:23] phantomtypist commented on #69
@satnamsarai to add to what @TheHokieCoder said, if I made the wrong assumption about SQL Server and you instead meant MySQL, Postgres, etc... please clarify that for us in a comment on issue #61.

Thanks!

[2017-10-06 04:30] phantomtypist commented on #70
@satnamsarai forgive me, but I'm not sure I fully understand.  ¯\\\_(ツ)_/¯

Is there any way you could explain the problem and solution a bit more in-depth... or submit a PR with the solution and then comment here describing the solution implemented in the PR?

If you submit a PR, please try to keep in mind backwards compatibility (i.e. no breaking changes with existing configurations and expected

[2017-10-06 04:43] TheHokieCoder commented on #70
@satnamsarai I am with @phantomtypist here. The ideal mode of operation that you want IS do-able as I have several separate web applications that all share a CAS session via one CAS server. So my guess is that you are simply experiencing a misconfiguration error, OR we are misunderstanding your setup. More details will most certainly help.

In my setups, all applications point to the same CAS serv

[2017-10-10 13:38] satnamsarai commented on #70
We want user to login automatically if they are already logged into one of our other site (without clicking on extra sign button).  We can do this by setting gateway flag to true.  However, if user is not logged, then we want to show page with pubic accessible information and sign button (user will choice to login to get private information.).
We try to use following

(1)    User go to app

(2)

[2017-10-10 15:19] TheHokieCoder commented on #70
@satnamsarai Have you tried your configuration with `gateway=false`? The mode of operation between your applications and CAS that you described should not need the gateway feature, as far as I understand it. I accomplish what you are wanting in my applications and I always have `gateway=false`.

I have never used it, but it seems that when operating in gateway mode, your application will _never_ i

[2017-10-10 15:30] satnamsarai commented on #70
@TheHokieCoder  yes, we are currently using with  gateway=false.  With this option user need to click on sign button to login even when they are already logged into another site.  We not sure how to automatically log users in if they are logged into another site (if we force DotNetCasClient.CasAuthentication.RedirectToLoginPage(), then user is force to logged in).  if they are not logged in, then

[2017-10-10 16:09] TheHokieCoder commented on #70
Ahh, I see what you mean. I was confusing the CAS SSO authentication with the .NET forms authentication, but I now see your predicament. I am not sure if that is possible, and if so, how to configure it, so I will let one of the other devs chime in until I can find the time to look through the code and see how it may be accomplished. Sorry for the confusion!

[2017-10-10 21:05] phantomtypist commented on #70
I think I get it now.  Let me think about the whole thing this weekend when I have more time to digest it.

[2017-10-10 21:08] satnamsarai commented on #70
thanks for the follow up.. it is not major issue,, user just needs to click on button to trigger login, but it would be nice if we can do it automatically.

[2017-10-17 02:47] phantomtypist commented on #13
Fixed in pull request #71.

[2017-10-17 02:47] #13 closed

[2017-10-18 08:10] kangweigang opened #72 "Too Many Redirects error"
hello:
i use the .net cas client 1.1.0
project :asp.net mvc 4.0 .
web.config is ok .
after login    the page is  "Localhost redirected too many times." can you help me !
thank you !

[2017-10-18 11:37] TheHokieCoder commented on #72
@kangweigang We'd love to help! But in order to do that we need to know what settings you are using in your web.config to configure DotNetCasClient. Will you please post your `casClientConfig` and `system.web/authentication` sections so that we may see how you are currently configured? In order to protect the privacy of your servers, feel free to change your URLs to something fake like example.com

[2017-10-18 14:34] phantomtypist commented on #72
Fortunately, or unfortunately depending on how you look at it, I have too much experience with this issue :)

I will first tell you what is going on that causes this behavior to manifest.  Then I will discuss a few possible underlying problems that can cause this behavior.

## What's Supposed to Happen

Let's start with the obvious:

1. You navigate to your application unauthenticated.
2. The appl

[2017-10-18 20:36] TheHokieCoder commented on #62
Good work, Jason. Perhaps leave this issue open until instructions can be added to the readme/wiki on how to consume the symbols package(s) while debugging?

[2017-10-19 13:50] phantomtypist commented on #72
Any update on this @kangweigang?

[2017-10-19 20:14] phantomtypist commented on #62
Documented!

We should probably restructure the Wiki at a point in the near future as we add more stuff to it, like a troubleshooting section.

[2017-10-19 20:14] #62 closed

[2017-10-19 20:16] phantomtypist commented on #67
@srkirkland getting close to being ready to work on this!!!!!

I want to wrap up a few other items with @TheHokieCoder before we add .NET Core support.

[2017-10-19 20:43] phantomtypist opened #73 "Add XML documentation comments missing in places."
Need to add...

See https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/xmldoc/xml-documentation-comments

[2017-10-19 20:53] phantomtypist opened #74 "Implement unit testing."
I think it would be beneficial to implement unit testing in general so that we can use it to validate code and intended behavior in certain places.

The first tests I'd like us to create would be to validate #53

[2017-10-20 14:51] phantomtypist commented on #74
Due to limitations in Visual Studio (even 2017), we aren't going to be able to run multi-targeted tests within Visual Studio in the Test Explorer ;(

https://github.com/nunit/docs/wiki/.NET-Core-and-.NET-Standard#my-tests-multi-target-net-core-and-net-framework-why-cant-i-run-both-in-visual-studio

We'll have to drop to the CLI and run the `dotnet test` command with the `--framework`.

The build s

[2017-10-20 14:51] phantomtypist commented on #74
My comment immediately above applies for any test framework including xUnit, NUnit, and MS Test.

[2017-10-27 14:13] TheHokieCoder commented on #61
Does anyone have any recommendations on how to store the `CasAuthenticationTicket` object in a service ticket manager that is implemented using SQL Server? Since `CasAuthenticationTicket` and `Assertion` are both serializable, its not a problem. But I have seen some recommendations for using a `StreamWriter` to serialize the object and save it in a `VARBINARY` column and some for using a JSON fram

[2017-12-18 21:10] TheHokieCoder opened #75 "AssertionRoleProvider Issues"
The first, and major, issue that I have encountered is that the `IsUserInRole()` method in [AssertionRoleProvider.cs](https://github.com/apereo/dotnet-cas-client/blob/master/DotNetCasClient/Security/AssertionRoleProvider.cs) does not seem to filter for the specified role name provided to the method. It appears to me that you can specify any role that you want, and as long as the current user is a

[2018-02-09 16:27] mccalltd commented on #67
Is there anything new to report on this? I'm interested in .NET Core support as well.

[2018-02-09 17:36] phantomtypist commented on #67
@mccalltd I just mentioned this on the Gitter channel :)

TL;DR, yes, we are going to make a .NET Core, most likely only 2.x though.  Do you _need_ a .NET Core 1.x implementation or is 2.x work for your situation?

I didn't dig deep enough, but we may be able to do both using .NET Standard 1.4/1.5.

I'm going to touch base with @srkirkland and discuss with him.

@mccalltd feel free to leave us com

[2018-02-09 17:36] phantomtypist commented on #75
@TheHokieCoder what are your thoughts on a plan of attack on this one?

[2018-02-09 17:37] mccalltd commented on #67
2.x works for me! Thanks for the feedback.

[2018-02-09 18:58] mspasiuk commented on #67
2.x works for me too. Thanks!

[2018-02-27 20:40] davidkwong opened #76 "Logout URL"
Hello ,

I am trying to set the landing page for the logout after calling CasAuthentication.SingleSignOut().

Can you let me how to set the the logout landing page ? ...It's now setting to Logout.aspx which is the page I called this function.

[2018-02-27 20:52] phantomtypist commented on #76
Question before we go down the rabbit hole.... is the "Single Sign Out" feature on your actual CAS server configured?

Additionally, can you provide any configuration and/or code here to help diagnose the issue?

[2018-02-27 21:10] davidkwong commented on #76
You raised a good point. It might not have it. I just want to do a basic logout for now.  What I suppose to call ?  FormAuthenication.Signout ?  I guess the end goal is to log out from asp.net but not from CAS. or if it makes sense at all ?

I guess the right question is How do I suppose to logout the right way from my ASP.NET application with CAS login   ?

[2018-02-28 05:00] phantomtypist commented on #76
The reason I asked is because developers, like me, aren't the ones configuring the main CAS server.

Single Sign Off is a tricky topic.  You guessed it, FormsAuthentication.Signout, but there is a catch.  Sure that logs your user out of your application by invalidating your application's authentication ticket/cookie, but not from CAS.  Therein lies a problem.  If the user navigates in the browser

[2018-02-28 05:02] phantomtypist commented on #76
@davidkwong please circle back to this issue after you find out more from the thread on Gitter.  I'll keep the issue open until you find out more just in case we need to change something here.

[2018-03-07 17:42] TheHokieCoder commented on #68
@phantomtypist Did you get anywhere with Apereo with respect to code signing?

[2018-03-07 18:21] TheHokieCoder opened #77 "Cleanup Duplicate/Unused Assembly References"
Noticed today that the DotNetCasClient project is referencing a lot of .NET assemblies that are never used, more than likely from the bloated templates that Visual Studio provides out-of-the-box. To keep things lean and mean, I'd like to remove the unused assemblies (by no means difficult to add back should they need to be referenced in the future). Also, there are two groupings of references to s

[2018-03-08 14:32] TheHokieCoder commented on #77
Ahh, for some reason I was under the impression that .NET Standard/Core was going to be a wholly new project due to the vast changes in the security model.

[2018-03-08 14:36] #72 closed

[2018-03-08 14:37] phantomtypist commented on #68
No.  Let me ping them again.

[2018-03-08 15:17] TheHokieCoder commented on #75
@phantomtypist I'd like to fix all 3 of the issues I outlined, and in the way that I described. I was just giving an opportunity to either a.) prove that I am wrong or b.) provide an alternate solution. If you are OK with the proposed solutions (in theory at least) would you want me to create a single branch to incorporate all changes, or would rather have separate branches for each sub-issue? To

[2018-03-09 19:32] TheHokieCoder commented on #61
FWIW I am currently working on an implementation of a service ticket manager that uses MS SQL Server for the backend. I have posted some thoughts & questions about it over on [Gitter](https://gitter.im/apereo/dotnet-cas-client). You can also follow the progress of the project in my [mssqlserver-serviceticketmanager repository](https://github.com/TheHokieCoder/mssqlserver-serviceticketmanager). I w

[2018-03-29 14:10] kritulrathod opened #79 "Using Custom Login Page with Dotnet CAS Client"
Hi,

We had a query implementing the login page redirect using DotNetCasClient 1.1.0 client.

We want to have a custom UI for the login page where the CAS login shuld be displayed in an IFRAME.

We created a page and updated the URL to `<forms loginUrl="https://www.myapp.com/login">`
however in the [documentation](https://wiki.jasig.org/display/casc/.net+cas+client) - it says that it is necessary

[2018-04-03 19:35] johanv commented on #72
I had the same problem, but it was caused by misconfiguration. I more or less blindly copied the configuration for forms authentication from the README (ok, I was smart enought to change `loginUrl`). But I got the eternal redirects. But it worked once I removed `path="/ApplicationName/"`. (You probably have to adapt it to your needs, but removing it completely did the job for me.)

[2018-04-05 14:45] brinehart commented on #67
2.x works for me too. Has there been any progress on this? I haven't seen any PRs

[2018-04-12 09:24] nightBaker opened #80 "SingleSignOut cause A potentially dangerous Request.Form value was detected from the client"
After logout CAS sends post request message=<samlp:LogoutRequest xmlns:samlp="urn:oasis:names:tc:SAML:2.0:protocol" ID="LR-177-X8BLQyvy76SFszPwCMYwpFeF" Version="2.0" IssueInstant="2018-04-12T15:07:21Z"><saml:NameID xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion">@NOT_USED@</saml:NameID><samlp:SessionIndex>ST-2171-iZF3BlhCp9VdarvPV-tJ1GEebO0-kaspi-portsso1</samlp:SessionIndex></samlp:LogoutRequ

[2018-04-19 04:39] phantomtypist commented on #67
No, no progress :(  Work and life has been a bit hectic lately.

@srkirkland I pinged you at your UC Davis email.

[2018-04-19 12:42] TheHokieCoder commented on #61
Another FWIW, I have implemented a MS SQL service ticket manager in my own code that uses a `VARBINARY` column to store the serialized `CasAuthenticationTicket` object. It uses a binary formatter to serialize to an in-memory stream, and then the bytes of that stream are written to the `VARBINARY` column. Works like a charm so far!

I have done all of that development in a single project that I am

[2018-04-19 12:46] phantomtypist commented on #61
See my response on #84.... similar.

Make separate repo for each of the tertiary NuGet packages.  This way they are isolated both by code and contributors.  We could end up having different contributors on the different tertiary NuGet packages (e.g. someone might specialize in Redis and a different person on SQL Server implementations.)

This is somewhat similar to what Cake (the build scripting D

[2018-04-19 12:47] phantomtypist commented on #61
We just have to agree on naming of the repos as per my comment in #84.

[2018-04-19 13:07] phantomtypist opened #85 "Add contributor guidelines page to Wiki and readme"
I think we need to add a contributor guidelines page before things get more out of hand :-/

[2018-04-20 05:09] phantomtypist commented on #67
At a higher level, the .NET CAS Client project needs to cover the following scenarios:

## ASP.NET Identity (OWIN middleware)

- MVC 6 / ASP.NET Core
	- .NET Framework 4.6
	- .NET Core 1.x/2.x

## ASP.NET Identity _or_ Membership

- MVC 5 / ASP.NET 4.5 Web Forms / Web API 2
	- .NET Framework 4.5

## ASP.NET Membership

- MVC 4 / Web API 1
	- .NET Framework 4.0/4.5
- MVC 3 / Web API 1
	- .NET Frame

[2018-04-20 17:41] phantomtypist commented on #67
At least we don't need to worry about supporting Web Forms on ASP.NET Core (ref https://github.com/aspnet/Home/issues/1961#issuecomment-286000755)

[2018-04-23 18:34] srkirkland commented on #67
@phantomtypist I think plan 2 is the best option, and it seems to follow a lot of the community packages which have split off specific .OWIN and .AspNetCore versions of their packages.

The package names you proposed seem like a good idea to me too

[2018-05-09 17:37] phantomtypist commented on #61
@TheHokieCoder I had @mmoayyed set up the new repos.  The SQL Server service ticket provider will live over in https://github.com/apereo/dotnet-cas-client-mssql

I'll scaffold out the project shell, solution, build scripts, AppVeyor CI and also the MyGet/NuGet feeds over the next week.  After that we can retarget your code you already made over there.

Sound like a plan?

[2018-06-11 04:30] MetSystem commented on #67
2.x works for me too. Thanks!

[2018-06-19 13:43] eastsea2 commented on #48
I am trying to set up the ExampleWebSite. I gave me this error message
&&&&&&&&&&&&&&&&&&&&&&&&&&&&
The page isn’t redirecting properly
Firefox has detected that the server is redirecting the request for this address in a way that will never complete.
    This problem can sometimes be caused by disabling or refusing to accept cookies.
&&&&&&&&&&&&&&&&&&&&&&&&&&&&
 Can you help me what is wrong on

[2018-06-19 13:48] eastsea2 opened #86 "The page isn’t redirecting properly"
I am trying to set up the ExampleWebSite. It gave me this error message
&&&&&&&&&&&&&&&&&&&&&&&&&&&&
The page isn’t redirecting properly
Firefox has detected that the server is redirecting the request for this address in a way that will never complete.
This problem can sometimes be caused by disabling or refusing to accept cookies.
&&&&&&&&&&&&&&&&&&&&&&&&&&&&

Can you help me? What is wrong in my

[2018-06-19 13:56] eastsea2 commented on #74
Sir，

I am trying to set up the ExampleWebSite. It gave me this error message
&&&&&&&&&&&&&&&&&&&&&&&&&&&&
The page isn’t redirecting properly
Firefox has detected that the server is redirecting the request for this address in a way that will never complete.
This problem can sometimes be caused by disabling or refusing to accept cookies.
&&&&&&&&&&&&&&&&&&&&&&&&&&&&

Can you help me? What is wrong

[2018-06-19 15:08] eastsea2 commented on #79
Have you find the answer for this?
If so, can you share it with me?
Thanks.

[2018-07-19 09:49] Sorazuu commented on #72
In web.config, try to change value of ticketValidatorName from Cas20 to Cas10

[2018-08-01 20:47] JLewinski commented on #67
I don't know if anyone else has made a fork to add core support, but I've got a [somewhat working version](https://github.com/JLewinski/dotnet-cas-client-with-core). I haven't tested much of its functionality, but it works for my specific Cas20 instance.

[2018-08-21 15:37] cflasrado18 opened #87 "Logs not being generated"
Hi,

I am getting a redirect issue after logging in through the CAS server. To diagnose and troubleshoot the issue I added the tracing part to my webconfig but no logs are being generated. I made sure I have given the appropriate privileges to modify and write to the signed in user but still no logs. I am adding my webconfig below. Please let me know if I am doing anything wrong. Thank you.

`
[we

[2018-08-21 16:09] TheHokieCoder commented on #87
What do you mean, exactly, by "signed in user"? As far as the permissions to write the log file go, there isn't a concept of a signed in user. .NET application pools run under pseudo-identities that aren't real accounts on the machine (see [https://docs.microsoft.com/en-us/iis/manage/configuring-security/application-pool-identities](https://docs.microsoft.com/en-us/iis/manage/configuring-security/

[2018-08-21 17:00] cflasrado18 commented on #87
@TheHokieCoder thank you for your response. I tried what you suggested and configured my application to write logs to C:\AppLogs with giving read/write permissions to everyone but still nothing. Just to clarify I am running this application on Windows Server 2016 with IIS 10. The logs were being written for a while to the original location at C:\inetpub\logs\LogFiles but then they stopped updating

[2018-08-21 21:10] TheHokieCoder commented on #87
OK, good to know we've ruled out file permissions as a problem. I'll look over your config file in more detail when I get a chance and see if I can find why the tracing isn't working.

[2018-08-22 04:26] dicktwk opened #88 "AuthenticatedUserOnly Area not support redirect to another page"
I want to use authenticateduseronly folder as page require user to login with CAS, and then redirect to other page. However, I find that respoonse.redirect could not use only server.transfer method. How could I resolve this if there is multiple page that user need to visit after logged in with CAS ?

[2018-08-22 12:07] TheHokieCoder commented on #87
@cflasrado18 So I couldn't find any misconfiguration in your `web.config`. In fact, I even copied it into two CAS-enabled applications that I have and both were able to generate the log file once appropriate permissions were given to the log directory. I don't have access to a Server 2016/IIS10 machine to test, so I don't know if anything is the culprit there. Unfortunately I don't know a whole lo

[2018-08-22 13:02] cflasrado18 commented on #87
@TheHokieCoder thank you for your help. I will try to do what you asked and create a blank application and see if the tracing works there. Just out of curiosity, when you copied my web.config to your CAS enabled applications, did you get a redirect loop problem?

[2018-08-22 13:09] TheHokieCoder commented on #87
I didn't copy your entire `web.config`, just the `system.diagnostics` section, which is where the logging is configured. Usually when I get redirect loop problems, it is because of an issue with the `ticketTimeTolerance` value set in the `casClientConfig` section. Try changing that value from 5000 up to something like 30000 (which I believe is the new default value). If your web server's time gets

[2018-08-22 16:53] cflasrado18 commented on #87
@TheHokieCoder So I created a new blank application and tried to see if tracing works but no luck. However the redirect loop stopped and now it does go to my website but it throws a 404 error with the ticket appended to the URL. Any ideas on how to solve this? I'm guessing that maybe changing the ticketTimeTolerance to 30000 helped. Thanks.

[2018-08-24 13:21] CEG-Ecoles opened #89 "Can't have CAS and "standard" login in //"
I use CAS authentication with success on a WebForm app. Now, I need to let some users login to my app with standard login form (with a special URL).
So I modify my web.config to remove security access on the login page, so the user can access it. After the postback, it's ok, he is authenticated (presence of .ASPXAUTH cookie with a value). But after he is redirected on next page and DotNetCasClient

[2018-08-24 14:54] cflasrado18 commented on #87
So I finally got tracing to work. I don't know how but it started working. The error I am getting it below:

DotNetCasClient.Protocol Information: 3237 : Ticket validation failed: System.Net.WebException: The remote server returned an error: (403) Forbidden.
   at System.Net.HttpWebRequest.GetResponse()
   at DotNetCasClient.Utils.HttpUtil.PerformHttpGet(String url, Boolean requireHttp200)
   at D

[2018-08-30 07:53] CEG-Ecoles commented on #89
Bump

[2018-09-05 20:54] cflasrado18 commented on #87
Hi,

So a quick question, would the dotnetcasclient work on a Windows server that is configured to accept connections only from accounts with Windows credentials?

[2018-09-07 18:15] cflasrado18 commented on #87
So the issue was that the CAS server that I was connecting to had port 443 blocked, so it was not able to communicate with my server even though I was able to connect to it. Once the port was opened up CAS started working.

[2018-09-07 18:15] #87 closed

[2018-09-07 18:55] TheHokieCoder commented on #87
Good find, @cflasrado18! If you still want an answer about your questions about Windows accounts, please open up another issue and ask there.

[2018-09-07 19:07] TheHokieCoder commented on #89
@CEG-Ecoles Sorry for the delay in responding. Unfortunately me and the few others that contribute these days are quite busy with our day jobs. Without digging deeper into the specifics about how you are doing the "standard" logging in of users, my initial guess would be that you are wanting both DotNetCasClient and standard web forms authentication methods to work at the same time, which I don't

[2018-09-07 19:18] phantomtypist commented on #89
It is somewhat possible.  We’ve done it at my job on one application.  You basically have to choose the .NET CAS Client as the default forms authentication mechanism.  Then, for certain controllers/views (if you use MVC) you manually implement your own custom membership and role providers.  It's not pretty, but it works.

Another thing you may want to look into is rolling IdentityServer 4 and conf

[2018-09-07 19:30] TheHokieCoder commented on #89
@phantomtypist I understood it that he wants to be able to use the mixed bag of authentication on **ALL** pages (he said web forms) of his app, hence why DotNetCasClient is tripping over the standard forms authentication. e.g. `default.aspx` is protected by DotNetCasClient while `secret-login.aspx` is standard forms. Login succeeds when authenticated via `secret-login.aspx`, but when going to `def

[2018-09-07 19:58] phantomtypist commented on #89
Nope, .NET CAS client doesn’t support that concept out of the box.  I think I you want to achieve that you'll have to stand up IdentityServer 4 and have your application perform authentication against that.  IdentityServer will be able to use a multitude of different with providers including CAS.

Sent from my Windows 10 phone

________________________________
From: TheHokieCoder <notifications@gi

[2018-10-05 13:02] CEG-Ecoles commented on #89
@TheHokieCoder I confirm your description of me situation.
@phantomtypist I don't know about IdentityServer 4, but on main site page, I read "for ASP.NET Core 2" (we use ASP.NET 4.5). And I don't want to change our authentication concept for that.
Did you find that it is a really bad thing to not clear cookies when user is authentified but not by CAS ?

[2018-10-05 16:53] phantomtypist commented on #89
IdentityServer is a standalone app... It is not something you build into your app.  IdentityServer 4 itself is a .net core app, so yes, your are correct on that part.  You can have a .net framework app like your authenticate against the separate identityserver app.
________________________________
From: CEG - Ecoles <notifications@github.com>
Sent: Friday, October 5, 2018 9:02:16 AM
To: apereo/dot

[2018-10-26 16:07] webMan1 commented on #76
Any updates on this issue?

[2018-11-28 20:09] mcamp1 commented on #89
@phantomtypist I couldn't find anything in the Identity Server 4 documentation (or elsewhere) about using a CAS provider. Any further information on this would be appreciated. Thanks!

[2019-01-22 04:58] taadis commented on #67
now, is there any progress for dotnetcore-cas-client?

[2019-02-12 11:54] idilov opened #90 "Obtaining a Ticket Granting Ticket and a Service Ticket for an API"
I am going to call a Java REST API from .net. The API is secured by CAS.
Does this project cover [the protocol described here](https://apereo.github.io/cas/5.1.x/protocol/REST-Protocol.html) i.e. getting, validating, caching, deleting and error-handling a TGT and a ST for an API?
If this is out of scope for dotnet-cas-client, is there any .net library or .net example for accessing a REST API after

[2019-03-29 10:33] hn3000 opened #91 "Is this project still supported?"
Sorry, no offense intended, but is this project still supported?

Or is there a better solution for using CAS and .net together?

[2019-03-29 11:08] phantomtypist commented on #91
Are you looking for a .NET Core variant or is there something else missing that you'd like to see?

________________________________
From: hn3000 <notifications@github.com>
Sent: Friday, March 29, 2019 6:33:56 AM
To: apereo/dotnet-cas-client
Cc: Subscribed
Subject: [apereo/dotnet-cas-client] Is this project still supported? (#91)

Sorry, no offense intended, but is this project still supported?

O

[2019-03-29 11:18] hn3000 commented on #91
No, .NET Core is not an issue for me, but I'm concerned about #64, #76, #79 -- especially #64 is already two years old and seems rather serious.

The relevant code has this code commented:
[code]

https://github.com/apereo/dotnet-cas-client/blob/84967a4bc9b6dcd0308146fc63e25085e5347024/DotNetCasClient/Validation/TicketValidator/Saml11TicketValidator.cs#L135-L184

And has been planned for release 1

[2019-03-29 11:41] hn3000 commented on #91
Oh, just realized, it's #89 that would interest me.

[2019-03-30 03:16] phantomtypist commented on #91
There really isn't anything to be concerned about with #64 because it's basically for logging purposes.  There is no imminent security concern.  Reference: https://github.com/apereo/cas/blob/2175a0c6e7a62bdbf182979a2c6f875c6e6d655a/docs/cas-server-documentation/protocol/CAS-Protocol-Specification.md#423-saml-request-values

For it to be beneficial you'd have to have detailed request/response loggi

[2019-03-30 03:18] phantomtypist commented on #76
@webMan1, @davidkwong never responded back to my last question/comment so I'm going to make a bad assumption that that was David's problem.

The comment/question I'm referring to is: https://github.com/apereo/dotnet-cas-client/issues/76#issuecomment-369122140

Did you cover your bases with that and it still doesn't work for you?

[2019-03-30 03:35] phantomtypist commented on #86
Well, that should work with what you have there.

My best guess is that your CAS server has disabled certain secure channels (schannel) and the ones it has enabled.... aren't matching or being used on the server your application runs on.

For example: let's say that your CAS server only allows TLS 1.2.  Now, if your web application server allows TLS 1.1 and TLS 1.2 that's great, BUT... is your ASP

[2019-03-30 03:35] #86 closed

[2019-03-30 03:39] phantomtypist commented on #79
With your requirement it be inside an iframe I'm not really sure I can help here.  I really have no experience with the way you are trying/wanting to make it all work.

I'd say just customize your CAS login page to look like, or be that of, what you have on https://www.myapp.com/login.

[2019-03-30 03:39] #79 closed

[2019-03-30 03:40] phantomtypist commented on #76
Gonna close this for now and if anybody responds we can reopen it.

[2019-03-30 03:40] #76 closed

[2019-03-30 03:51] phantomtypist commented on #89
@mcamp1 and @CEG-Ecoles I would follow the documentation there for [Adding Support for External Authentication](http://docs.identityserver.io/en/latest/quickstarts/4_external_authentication.html).

Granted, you'll have to interpret that and have it guide you down the path of implementing support for CAS.  It's not going to be as simple as copy-pasting code, but I'm sure you can slog your way throu

[2019-03-30 18:17] hn3000 commented on #91
Thanks a lot for that comprehensive answer!

Congrats re: adding hoomans, that's hard work.

I also wasn't aware that this library is not part of apereo's commercial endeavour ... so thanks again for taking time to respond!

About #64 -- the importance of the request id was not clear, but the ability to debug and correlate log output would be very relevant for me.

#89 -- my reading was that the l

[2019-03-30 18:42] phantomtypist commented on #91
@hn3000 I really had thought I put a contributing.md file in the repo, but I guess I forgot to do that.  Until I do that this is the gist:

If you want to contribute a PR I am totally on board with that, however I would first open an issue and talk about what you are planning to do.  This way we can have a placeholder for a discussion around what you are going to do.  I feel like it will prepare y

[2019-03-30 18:43] phantomtypist commented on #91
@hn3000 we also have Gitter chat rooms if you want to discuss things there adhoc.  The main room (includes Java too) is a bit more active ;)

https://gitter.im/apereo/home

[2019-03-30 18:43] #91 closed

[2019-04-01 03:48] phantomtypist commented on #64
@hn3000 Code is done and there is a CI build from the develop branch available as a NuGet package on [our CI MyGet feed](https://www.myget.org/feed/dotnetcasclient-ci/package/nuget/DotNetCasClient)

I'll test it when I get to work Monday.  If it works you'll see a production release to the official NuGet.org site for 1.2.0.

If you want you can test the code too.   In the aforementioned MyGet feed

[2019-04-01 12:36] eastsea2 commented on #86
Thanks a lot.

On Fri, Mar 29, 2019 at 11:36 PM Jason Kanaris <notifications@github.com>
wrote:

[2019-04-01 12:41] phantomtypist commented on #86
Another thing to consider is that your sysadmins may have blocked your server from validating tickets.  The client side authentication is usually open to the world, but in some environments the sysadmins lock down the server side authentication (between your app and the CAS server.)  They may have a whitelist of allowed IP addresses and your app's box is not on it.

[2019-04-06 20:14] phantomtypist commented on #77
Included in release 1.2.0

[2019-04-06 20:14] phantomtypist commented on #64
Included in release 1.2.0

[2019-04-06 20:14] #64 closed

[2019-04-06 20:15] phantomtypist commented on #62
Included in release 1.2.0

[2019-04-06 20:15] phantomtypist commented on #13
Included in release 1.2.0

[2019-04-07 04:01] phantomtypist commented on #90
This client does not contain the code to handle TGT via the CAS REST protocol.  If you'd like you can contribute that code and submit a PR.

[2019-04-07 04:03] #89 closed

[2019-04-07 04:09] phantomtypist commented on #30
I'm going to update the example website soon.

[2019-04-07 04:09] #30 closed

[2019-04-12 16:22] phantomtypist commented on #61
@TheHokieCoder any progress on the MSSQL distributed cache provider?

[2019-04-12 16:33] TheHokieCoder commented on #61
Yes, I had come up with a working example in a private repo. I apologize as I somehow missed your comment from last year about the separate repo.

In any case, a sticky point with implementing the provider is how to standardize the way the provider ties into the backend, which in this case is the MS SQL Server database. Some examples of how this could be done:

- the provider requires a provided D

[2019-04-12 16:54] phantomtypist commented on #61
That's okay, I've been MIA too.

In no specific order:

- Table names: I looked at some other implementations from other languages and it looks like the two tables (proxy granting tickets and service tickets) would be named **cas_pgt** and **cas_st** if we wanted to just piggy back on what other people have leaned towards.   I think those could be the suggested values, but I get why people might w

[2019-04-12 16:57] phantomtypist commented on #61
^ w.r.t. the implementations take a look at the [release/1.0 branch](https://github.com/apereo/dotnet-cas-client-memcached/tree/release/1.0) and look at what I did for the two classes (proxy and service tickets.)

An interesting problem I ran into that the original PR did not account for was that Memcached keys are limited to 250 characters whereas proxy/service ticket key length can be greater th

[2019-04-12 17:25] TheHokieCoder commented on #61
OK, sounds good! Thanks for the direction!

I would suggest we use `cas:MSSql:ConnectionStringName` as the appSetting key name to make it clearer that we are asking for the _name_ of the key, not the connection string itself.

Everything else I am on board with.

As far as the Memcached key for the tickets, I found this in the [CAS server docs](https://github.com/apereo/cas/blob/master/docs/cas-se

[2019-04-13 00:45] phantomtypist commented on #61
Good catch, I wrote it too quickly.  `cas:MSSql:ConnectionStringName` is what I meant to say.

As for the ticket character length it just so happened to be that my org has it's ticket length set to 256 :)

I figure making the key component non-configurable means a developer just doesn't have to worry about it.  For example if the developer had to configure this manually in appSettings, let's say t

[2019-04-13 00:55] phantomtypist commented on #61
@TheHokieCoder FYI I think I have to quickly touch-up the Cake build script in the develop branch for you since Cake evolved a hair since I first put it in there.  I'll do that now.

After that you should just be able to run the Cake script (from PowerShell) using the command `.\build`.  It's set up to generate the NuGet package in an **artifacts** folder in the root of the repo.

I have @mmoayyed

[2019-04-15 18:37] phantomtypist commented on #61
FYI Memcached worked completed in new repo over at [https://github.com/apereo/dotnet-cas-client-memcached/](https://github.com/apereo/dotnet-cas-client-memcached/)

[DotNetCasClient.Memcached](https://www.nuget.org/packages/DotNetCasClient.Memcached/) NuGet package now available

[2019-04-16 17:54] phantomtypist commented on #61
FYI Redis work completed in new repo over at https://github.com/apereo/dotnet-cas-client-redis/

DotNetCasClient.Redis NuGet package now available

[2019-04-17 01:32] phantomtypist commented on #18
Fix was merged in #53.

[2019-04-17 01:36] #18 closed

[2019-04-17 01:38] phantomtypist commented on #19
@TheHokieCoder So I merged your PR from #53.  Do we still need all the other changes from [url-encoding-bugfix](https://github.com/apereo/dotnet-cas-client/tree/url-encoding-bugfix) ?

[2019-04-17 01:40] phantomtypist commented on #75
@TheHokieCoder did you end up making any code for this?

[2019-04-17 02:26] #85 closed

[2019-04-17 02:35] TheHokieCoder commented on #75
Yes I did, but again, I did it in a private clone of the project. I think it'd be best if I tackle each of the 3 issues as separate PRs, and I'll add commenting where appropriate in each. That way each fix can be addressed, approved, rejected, etc. on their own without holding up one of the others. Is that OK by you?

[2019-04-17 02:40] phantomtypist commented on #75
Sounds good to me!

[2019-04-17 02:41] phantomtypist commented on #75
I'm of the opinion doing things in smaller logical units is always a good idea.  Makes you feel like you're getting somewhere quicker too!

[2019-04-17 02:41] TheHokieCoder commented on #68
Did you ever find out if the Apereo org has a way to get a code signing cert for this project? If so, I am curious where in the project ecosystem a cert could be stored that wouldn't be publicly available, but available to the build pipeline for signing official releases.

[2019-04-17 02:43] phantomtypist commented on #45
Duplicated now by #67.  Larger discussion going on in there.

[2019-04-17 02:43] #45 closed

[2019-04-17 02:43] TheHokieCoder commented on #75
I believe that I'll have some time tomorrow afternoon/evening to tackle this and other issues that I've promised to work on. I'll keep you updated.

[2019-04-17 02:56] phantomtypist commented on #68
Me and @mmoayyed settled on me getting my employer (university) to obtain one.  We get them free from our InCommon CA.  I received it back in December.... will probably have time in June to implement it in this project.  I have to play around with how I'm going to architect this into the CI pipeline.

[2019-04-17 02:58] phantomtypist commented on #68
@TheHokieCoder if you have any ideas for using the cert in the CI process, not publicly exposed, let me know here or on Gitter or email.  Like I said I'm considering a few things.   I've reached out to a few other people that already do this to get their perspectives... and it's all over the place :-/

[2019-04-17 02:59] TheHokieCoder commented on #68
Great! That sounds good. We (mostly you) should have the client _much_ more stable by then, so it'll be a good time to have the assemblies signed so consumers can verify they came from an official build of this project.

[2019-04-17 03:06] phantomtypist commented on #9
This is orphaned code that was in the repo, since it was in Git, all the way back to this files first commit by @serac in https://github.com/apereo/dotnet-cas-client/commit/50046c7a62e40fca3da415952701ea6dc90af494

I didn't do any further research, but it may have been for debugging XML purposes or something carried over from the Java CAS Client project.

I'm going to remove the orphaned code in `

[2019-04-17 03:13] #9 closed

[2019-04-17 03:15] TheHokieCoder commented on #9
@phantomtypist I looked through the Java client code and came to my understanding that the handling of XML documents in .NET is quite different than in Java, so the code doesn't really have much comparison. However, I did look through the docs on the properties that are, in a futile effort, being set in this .NET client's code as mentioned by *Jetski5822*. I agree with your assessment that the cod

[2019-04-17 03:48] TheHokieCoder commented on #19
I don't see any additional changes between `url-encoding-bugfix` and `develop`. What other changes are you referring to? It appears that there were only 2 commits made on that branch, and the net result was included in PR #53.

[2019-04-17 03:58] #40 closed

[2019-04-17 04:04] phantomtypist commented on #48
@dhiogoacioli if you feel like updating the example application to get it working, let me know here.  PR's welcome :)

[2019-04-17 04:06] phantomtypist commented on #80
Closing this because the discussion can be carried on in PR #83

[2019-04-17 04:06] #80 closed

[2019-04-17 04:10] phantomtypist commented on #75
Whenever, no rush.

[2019-04-17 04:16] phantomtypist commented on #19
SMH I wasn't comparing the two branch... must have been looking at a different branch other than develop.

Done!  P.S. I'm going to close Scott's branch.

[2019-04-17 04:16] #19 closed

[2019-04-17 19:18] garster commented on #67
My co-worker wrote a CAS client from scratch for ASP.NET Core 1.0 and it has been upgraded and used in a ASP.NET Core 2.2 project. It is used all day long and fits perfectly into the ASP.NET Identity system. We are looking at open-sourcing the code and should be able to share it with you all soon.

[2019-04-17 19:52] phantomtypist commented on #67
@garster ok that would be nice to see.  I am curious as to whether or not you tried to just add .NET Core support to this existing project and were unsuccessful?  Would you be able to share what drove your team to write it from scratch?

[2019-04-17 19:54] phantomtypist commented on #67
@garster FWIW, not sure if you have seen these other couple of implementations:

- https://github.com/IUCrimson/AspNet.Security.CAS
- https://github.com/JLewinski/dotnet-cas-client-with-core/ (this person forked our repo, but instead of adding the .NET Core functionality to the existing project they created a complete duplicate with .NET Core support as a separate project.)

<blockquote><img src="

[2019-04-17 21:09] TheHokieCoder commented on #75
@phantomtypist I have submitted PRs for the 3 problems addressed in this issue. I'll let you look them over and approve them if you are OK with the changes. Once they are merged into `develop`, I'll submit another PR where I will document the rest of the class.

[2019-04-17 23:26] garster commented on #67
@phantomtypist We started coding the client in Jan 2017, back then all I saw was a Forms Authentication module from Apereo and that would only work with ASP.NET WebForms. We were starting on a ASP.NET Core 1.0 RC app and needed a module that works like the Google, Facebook, Twitter OWIN type modules so we could just plug it into the out-of-the-box Microsoft auth system.

Either we could not find t

[2019-04-18 01:10] phantomtypist commented on #67
@garster your team can still share if they want, privately to us or publicly via PR.  I'll leave it up to you.  At the least if you want you could share any pain-points or gotchas you encountered.  I'm sure there were lessons learned.

OWIN and .NET Core support is up next after we clean up a few more of the outstanding bugs/issues (not all of them, just a few of the pressing ones.)

[2019-04-19 04:02] phantomtypist commented on #75
@TheHokieCoder all merged.  I'm going to close the issue.  When you're adding the missing XML documentation comments just submit a PR.

Thanks!

[2019-04-19 04:02] #75 closed

[2019-04-19 04:02] phantomtypist commented on #75
👍

[2019-04-19 18:25] TheHokieCoder commented on #57
@phantomtypist I stumbled across this issue just now because I realized that my personal settings for indentation messed up the formatting of code that was merged from my recent pull requests. My initial thought was "Hey, let's set up an editorconfig file for the project" and was going to create a new issue for it. But then I saw you've already suggested something similar.

It appears that the Sty

[2019-04-22 03:36] phantomtypist commented on #57
Go ahead and add an [EditorConfig](https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options?view=vs-2019) now.  I'll worry about the StyleCop later on.... ultra-low priority.

[2019-05-17 15:38] mbourletsg opened #96 "Null Exception on BaseGetAllKeys"
Hello,

We had a problem occuring several times randomly.
Our server is unable to come back on its own afterwards. We had to recycle on the few times it occured.

Do you have any clue for the cause ? See below for stacktrace
Thanks for your help

Exception message
Object reference not set to an instance of an object.
Stacktrace
at System.Collections.Specialized.NameObjectCollectionBase.BaseGetAllK

[2019-05-17 16:27] phantomtypist commented on #96
Uh.... not that it's your fault, but that stack trace is pretty useless, lol.

I'm going to need more context and also reproduction scenarios (full details on what you did to reproduce the problem forcefully.)  E.g. do you have more environments than just production?  Is this problem exhibited in all environments or just one?  In a non-production environment where this problem occurs can you make

[2019-05-17 16:30] phantomtypist commented on #96
If you are using the latest version of our NuGet package... have you tried rolling back to each previous version till you reached one that _does_ work?  If so, what was the last working version?

[2019-05-17 17:37] mbourletsg commented on #96
Alright, lot's of question, I'll try to answer each of them precisely :)
By the way, thanks for the help !

I don't have any clue what is creating this problem actually. It went down during this night. This particular app we're talking is an internal web application with around 150 users at least.

Keep in mind that the system is working flawlessly in production 24/6 with ~150 concurrent users log

[2019-06-03 09:44] mbourletsg commented on #96
Hello,
In the meantime, we had a discussion with the CAS server team. They updated their system and we discovered some problem concerning the proxy, it broke the entire system once they corrected it. On our side, we had to remove this line "proxyTicketManager="CacheProxyTicketManager" and everything came back.
The first problem might have been caused by this proxy mode not working as intended by C

[2019-06-03 13:04] phantomtypist commented on #96
If I understand you correctly you are saying you think the proxy mode on the CAS server was configured wrong?  FWIW, if you specify the proxyTicketManager attribute and the proxy stuff isn't configured (at all or correctly) on the CAS server then things will probably go wrong in the ASP.NET application.  There is the chance they may never had it configured on the CAS server.

[2019-06-03 13:10] mbourletsg commented on #96
Yes that's right. We don't know exactly the inner problems but from information we have :
- Proxy was not working correctly on the CAS Server
- The effect of this is the system worked well with this misconfiguration when it should have not (but might have some weird problems like the one described in my previous messages, redirection loops etc.)
- They updated it to correct the problem on the prox

[2019-06-03 13:17] phantomtypist commented on #96
Well if you run into further problems just reopen or make a new issue.  If the other team has CAS related errors there is a Gitter channel that may be of help to them where they can ask questions: https://gitter.im/apereo/cas

<blockquote><img src="https://avatars-03.gitter.im/group/iv/3/57542c7ac43b8c601977397d" width="48" align="right"><div><strong><a href="https://gitter.im/apereo/cas">apereo/c

[2019-06-03 13:17] #96 closed, assigned to phantomtypist

[2019-08-22 15:25] alexhaberer opened #98 "Possible to use dynamic CAS URL in web.config"
Our CAS developer constantly changes the CAS URL with new builds, if I set the URL in the web.config I need to update the CAS path when he updates to a new build and URL. Is there a way to pull data from the systems environmental variables to populate it?

I've seen that they can add a key, but now how to use the key within the same file.

For more details please see https://stackoverflow.com/ques

[2019-08-22 15:54] phantomtypist commented on #98
With regards to Windows system environment variables... you'd still have to manually update the CAS URL there.  If I've understood you correctly, then you're just moving your problem from one place to a different place.

I'd ask the question "why does your CAS URL change every time your CAS SSO is updated?"  I can't think of any good reason to do that.  CAS is meant as a SSO (Single Sign On) syste

[2019-08-22 15:58] phantomtypist commented on #98
Maybe you and your team (and the CAS sysadmins) want to get together and put some automation behind your deployment processes.  Something like Ansible.  The scenario would be the CAS sysadmin deploys a new instance of CAS along with a new URL via Ansible.  Then the next task would kick off to modify the web.config file on the web server(s) of your applications.

[2019-08-22 16:02] phantomtypist commented on #98
Honestly another quick solution is to make an entry in your DNS (your actual company DNS or whatever) for something like sso.example.com (but with your domain after the **sso.**)  Then all of your applications just point to this domain.  Then that name will resolve in your DNS to the new URL the CAS sysadmin keeps changing unnecessarily.  Just update the DNS record when the CAS sysadmin does his/h

[2019-08-22 16:03] alexhaberer commented on #98
I can't tell you why he changes the URL with new builds? But with the System Variable at least there would only be one location to update if multiple applications were made, I wouldn't need to go into every web.config to fix, just the Server's Environment Variable. From what I've seen online it doesn't seem that you can reference keys created within the web.config later on within the file.

I did

[2019-08-22 16:07] phantomtypist commented on #98
I'm not actually sure I'm fully understanding your situation and I probably can't unless I see what you have actually done in your web.config.

You work at the University of South Dakota, correct?  You guys already have your CAS server pinned to a "static" URL.  This is it: https://sso.usd.edu

That's what you put in the web.config.  Does that not work?

<blockquote><div><strong><a href="https://s

[2019-08-22 16:18] phantomtypist commented on #98
In the web.config file in the `<forms>` element:

- Set the **loginUrl** to https://sso.usd.edu/login
- Set the **defaultUrl** will be to a path in your actual application you want as the default page after authentication with CAS.

In the web.config file in the `<casClientConfig>` element:

- Set the **casServerLoginUrl** to https://sso.usd.edu/login
- Set the **casServerUrlPrefix** to https://ss

[2019-08-22 16:22] phantomtypist commented on #98
Behind the scenes I think what you are referring to is the cluster of servers the CAS sysadmins are using behind a load balancer.  They conveniently tell you the hostname of the actual server that is serving your CAS login page from behind the load balancer.  If you view the source of the HTML on the login page there is an HTML tag called **labelHostname**.  E.g. usd-cas4.usd.edu

I wouldn't actua

[2019-08-22 16:41] alexhaberer commented on #98
I think I was mistaken, it seems like our DEV version was changing very often, but the DNS for PROD was correct. I was just given some incorrect info which lead me on a wild goose chase. After speaking with our Operations team I believe no issue will come about until our next CAS upgrade.

[2019-08-22 16:41] #98 closed, assigned to phantomtypist

[2019-08-22 16:46] phantomtypist commented on #98
:thumbsup:

[2019-09-16 16:14] alexhaberer opened #99 "How can I call the CAS login directly?"
I have an app that also has an API that serves images. As the images are used in other locations access is anonymous. Within the application though I have some admin pages that a user would need to be logged into see.

How can I call the CAS authentication process directly?

Thanks,

[2019-09-16 16:32] TheHokieCoder commented on #99
@alexhaberer ASP.NET already has a framework for handling the scenario you are describing. In other words, you shouldn't have to initiate the CAS authentication process manually. In your web.config file you can set your default authorization rules using the `system.web/authorization` section and corresponding `allow` and `deny` rules. Then, for specific areas or pages of your application, you can

[2019-09-16 18:14] alexhaberer commented on #99
Can't be sure, in IIS I've set Allow Anonymous Enabled, and within my Controllers I have [Authorize] attributes of different kinds.

Depending on the image type you may be able to view it and some not. Essentially everyone needs access to /Assets/Images/{user}/

Then I have the image types which limits access.

So when an application (External) requests images there is a check that pulls users/app

[2019-09-16 18:43] TheHokieCoder commented on #99
@alexhaberer Before I further try to diagnose your situation, can you further explain how your users/apps are consuming the images? For example, are you embedding them elsewhere using `<img>` tags? Or are they for download only? How they are being consumed will have a significant impact on whether you will be able to accomplish what you want. In general, static resources like images typically are

[2019-09-16 19:23] alexhaberer commented on #99
The images are on the same server within the project, I'm using routes.MapRoute to catch the URL. Then above the controller functions have multiple [Authorize] attributes which then get user information and determine if the file should be served or denied.

I had this working with a direct saml2 ADFS connector, but for setup, CAS was much quicker in .Net as well our CAS environment directs the use

[2019-09-16 19:46] TheHokieCoder commented on #99
Ahh, I _finally_ understand what you are trying to do. Thanks for the explanation. You do not need to call anything in DotNetCasClient directly to kick off the authentication (that was the part that was confusing me). I see that you are wanting to create custom logic within your override of `AuthorizeAttribute`. What you need to do here is simply implement your authorization logic based on the **a

[2019-09-16 19:50] alexhaberer commented on #99
So that is the issue, my applicaiton hasn't authenticated the user. Thus i need to redirect them or call a CasAuthentication login method.

I have started searching and can complete a CasAuthentication.REdirectToLoginPage(); which directs me to the CAS url, but after signing in I'm directed to the NotAuthorized.aspx and not the page I was originally requesting.

Any ideas?

[2019-09-16 19:52] alexhaberer commented on #99
I'm already overriding the authorize functionality, buy stating if a user isn't authenticated send them to a not authorized page.

But at this point I need to get them to login. Which with my above comment I can direct them to the login, but post login I get the NotAuthorized.aspx and not the page I was requesting.

Thanks,

[2019-09-16 21:05] alexhaberer commented on #99
By changing my IIS setting to Anonymous the CAS url login is never requested. This allows my images to be severed without logging in. Thus outside applications can use my API to pull images for users. When I change this and require a login, the API call then requires a login to view the images. In applications where the images are being used it just then give a broken link as the image requires au

[2019-09-17 12:32] alexhaberer commented on #99
So is there some documentation on how I could go about starting the CAS login process manually when a request is made to a page where a certain access is needed?

Like I said earlier I was able to redirect to the Login page using CasAuthentication.RedirectToLoginPage(); but after logging in I didn't get directed to the original request page or anything, it directed me to the NotAuthorized.aspx I'm

[2019-09-18 18:28] alexhaberer commented on #99
I was able to kick off the CAS auth later upon page request.

            protected override void HandleUnauthorizedRequest(AuthorizationContext filterContext) {
                if (filterContext.HttpContext.Request.IsAuthenticated == false) {
                    CasAuthentication.RedirectToLoginPage(true);
                }

                if (filterContext.HttpContext.Request.IsAuthenticated ==

[2019-09-18 18:28] #99 closed, assigned to nobody

[2019-10-02 15:20] RMMamun opened #100 "localhost redirected you too many times"
Dear All,

My ASP.Net-4 web application cannot run, it's just showing error "localhost redirected you too many times".
I have run the project successfully by skipping the authentication phase for few times. After then its showing the error and cannot run it any how. I cleared cookies, cashes, even I have reinstalled the browser also, but did not work.

I'll appreciate your help.

Thanks.

[2019-10-02 15:24] phantomtypist commented on #100
I'm pretty sure I know what's causing this.  Let me go hunt down the prior issue(s) where I explained it because it's quite lengthy.

[2019-10-02 15:25] phantomtypist commented on #100
FYI you'll need to make sure you're targeting at minimum 4.5.x or higher (e.g. up to 4.8.x)

[2019-10-02 15:27] phantomtypist commented on #100
@RMMamun go head over and check out this issue and my comments.
 https://github.com/apereo/dotnet-cas-client/issues/72

[2019-10-02 15:27] phantomtypist commented on #100
@RMMamun if that resolves your issue please close this issue.

[2019-10-02 15:33] RMMamun commented on #100
Hi, I am using .Net framework 4, Is that you have asked?

[2019-10-02 15:50] phantomtypist commented on #100
@RMMamun you can't be targeting exactly 4.0.  You have to target 4.5.x or higher.  FWIW the server (and your computer) also have to have .NET 4.x updated to be at least 4.5.x or higher.

[2019-10-02 16:05] RMMamun commented on #100
I have update target to 4.6.2, but still same error showing.

[2019-10-02 16:20] TheHokieCoder commented on #100
@RMMamun another possible cause for the too many redirects error is if the time on your server where the app is hosted differs too much from the time of your CAS server. This can cause ALL service tickets to be invalidated, causing the endless redirection loop. You can test for this by setting the `ticketTimeTolerance` attribute of the `casClientConfig` section to a larger/not sane value.  If you

[2019-10-02 17:54] phantomtypist commented on #100
@RMMamun you went through everything I said in that other thread and doubled check all of that both on your server/computer and the actual CAS server?

[2019-10-02 17:54] phantomtypist commented on #100
Yes, timing can be an issue as well.

[2019-10-03 09:22] RMMamun commented on #100
Hi, FYI, I am not using CAS in my project. And my OS is win7.

[2019-10-03 11:36] RMMamun commented on #100
@phantomtypist, I have found the problematic point, in my default page i used a button to navigate a page, but there is an error on that page. When I removed the button from my default page the application is running properly. Although my new page is not opening due to error "A server error occurred when we tried to complete your request. Please try again after some time. If the problem persists,

[2019-10-03 11:37] #100 closed, assigned to phantomtypist

[2019-10-03 13:52] phantomtypist commented on #100
@RMMamun wait, I'm confused here.  So you're _not_ using a CAS server as the mechanism to provide authentication of users in your application?  I gotta ask, what lead you down the path to install this NuGet package or use this code (whichever route you went)?

If you're not authenticating users of your application against [CAS ](https://github.com/apereo/cas#central-authentication-service-cas) (Ce

[2019-10-24 21:32] mcamp1 opened #101 "[AllowHtml] attribute"
I'm running into a problem using the AllowHtml attribute to allow posting HTML strings with DotNetCasClient installed. Any help would be appreciated. The attribute works fine without the CAS client, but throws an error as soon as it is installed.

**Model:**
[AllowHtml]
public string Password { get; set; }

**Stack Trace:**
`Server Error in '/' Application.`
``
``
``
``
``
``

[2019-10-24 21:32] mcamp1 opened #102 "[AllowHtml] attribute"
I'm running into a problem using the AllowHtml attribute to allow posting HTML strings with DotNetCasClient installed. Any help would be appreciated. The attribute works fine without the CAS client, but throws an error as soon as it is installed.

**Model:**
[AllowHtml]
public string Password { get; set; }

**Stack Trace:**
`Server Error in '/' Application.`
`A potentially dangerous Request.Form v

[2019-10-24 21:37] #101 closed, assigned to nobody

[2019-10-25 04:02] phantomtypist commented on #102
Can I get you to post up a sample app where you run into this problem?  (e.g. in a temporary repo and link to it from here?)

I'd just like some sort of reproduction scenario.

[2019-10-28 16:58] mcamp1 commented on #102
I created a sample app at https://github.com/mcamp1/AllowHtml/

Thanks!

<blockquote><img src="https://avatars3.githubusercontent.com/u/26825410?s=400&v=4" width="48" align="right"><div><img src="https://github.githubassets.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/mcamp1/AllowHtml">mcamp1/AllowHtml</a></strong></div><div>CAS validation reproduction scenari

[2020-01-15 09:02] katrinadunkley opened #104 "Locked out of HR BLock Canada- really need to get my taxes done so..."
CAS is unable to process this request: "500:Internal Server Error"

org.springframework.webflow.execution.ActionExecutionException: Exception thrown executing ca.hrb.cas.mfa.web.flow.MultifactorAuthenticationVerifyTrustAction@16494888 in state 'mfaVerifyTrust' of flow 'mfa-security-question' -- action execution attributes were 'map['resolvedAuthenticationEvents' -> set[mfa-security-question]]'

[2020-01-15 13:03] TheHokieCoder commented on #104
@katrinadunkley Your issue does not appear to be one related to this dotnet-cas-client project, especially since the exception that you have listed is one for the Spring framework, which is build on top of Java. This project is a CAS client for web applications built on the .NET framework. Also, your issue title mentions HR Block Canada, and that you're needing to get your taxes done, which would

[2020-01-17 04:32] phantomtypist commented on #104
Almost positive this is just something wrong with HR Block Canada themselves.  It's a Java error like @TheHokieCoder said and this specific project does not use Java.

[2020-01-17 04:32] #104 closed, assigned to nobody

[2020-02-20 09:30] stefanoberetta opened #105 "SetAuthCookie(ticket) doesn't create any ticket"
Hi!
After a successfully login I try to set the CAS cookie using `DotNetCasClient.CasAuthentication.SetAuthCookie(t);`
But it seems it doesn't create any cookie.
Could it be the framework 4.7.2?

Thank you
S

[2020-02-20 13:51] phantomtypist commented on #105
ASP.NET WebForms, Web Pages or MVC?  Which version of those are you using also?  Can you also provide a snippet of your web.config, without anything sensitive, for the <casClientConfig> and <forms> sections.  Are you using the latest NuGet package in your project?

Do you get an errors?

[2020-02-20 13:54] phantomtypist commented on #105
Also, which ticket storage implementation are you using?   The default is in-memory, but there are a few other providers we offer.

[2020-02-20 13:55] phantomtypist commented on #105
Did your code work in the same project targeting a prior version of the .NET framework? e.g. 4.5?  I.e. was this code ever working at one point and magically one day it stopped?

[2020-03-05 16:22] lukassr opened #106 "CAS redirects to servername instead of service"
Hi. I have an application that have a valid CAS auth, but it always redirects to the `serverName`. I want it to be able to redirect to the previous page (`service` attribute) which the user came to make the CAS auth. Is it possible?

Thanks you very much.

[2020-03-05 17:32] phantomtypist commented on #106
Can you please provide an example of how your **forms** and **casClientConfig** sections are configured?  I. E. Just replace your domain with **example.org** and leave the rest.

[2020-04-23 06:19] CodeableChef opened #107 "serverName set problem"
I have a problem, because my service domain is test.com, so I set the `serverName=test.com`, now I have two IPs under the domain , how can I visit the IP then redirect to this IP rather than the domain

[2020-05-20 22:25] TheHokieCoder commented on #107
@CodeableChef would you please provide more detail on your web application's setup where you have two IP addresses for the same web application domain name, and why you have one where you want to kick off the authentication process but visit the other once authentication has been performed?

The only situation where I can think that this makes sense is when your web application is load-balanced, i

[2020-05-20 22:27] TheHokieCoder commented on #106
Closing due to lack of response from the OP.

[2020-05-20 22:27] #106 closed, assigned to nobody

[2020-05-20 22:28] TheHokieCoder commented on #105
Closing due to lack of response from the OP.

[2020-05-20 22:28] #105 closed, assigned to nobody

[2020-07-19 16:23] TheHokieCoder commented on #107
Closing due to lack of response from the OP.

[2020-07-19 16:23] #107 closed, assigned to nobody

[2020-07-19 16:32] TheHokieCoder commented on #102
@mcamp1 Sorry for the long time since you have posted and not getting back to you. Are you still experiencing an issue with your form input, or have you found a workaround?

[2020-07-19 16:46] TheHokieCoder opened #108 "Testing Experimental CAS v3 Support"
@HamidRezaAshkiyan, I have created this separate issue for you so that we can discuss attempting to use my CAS v3 protocol support without creating too much off-topic chatter in issue 17.

Please note, again, that the code I have written so far is untested and not guaranteed to work, especially not in a production environment. However, if you want to test it yourself and provide me with feedback:

[2020-07-20 05:20] HamidRezaAshkiyan commented on #108
Actually my aim is to produce a sample for using in production environment. I hope we can test it and merge this to main repository.

And I will test it as soon as it possible. Thanks.

[2020-07-20 15:16] mcamp1 commented on #102
Thanks for checking in! I am still experiencing the issue, and the only workaround I've found is to just disable validation. Any help would be appreciated!

[2020-07-20 16:25] TheHokieCoder commented on #102
@mcamp1 Thanks for confirming that. I was looking through the code yesterday and see where the .NET CAS client is pulling values out of POST-ed data using the .NET Framework's helper method, which passes through the forms validation and causes the exception to occur. You are applying the `[AllowHTML]` attribute to a single property, and I am guessing that the attribute is not yet processed (in the

[2020-07-20 16:31] phantomtypist commented on #102
@TheHokieCoder let me know if the automated building on AppVeyor fails.  I think it may run into a problem and I'll need to fix it.  If you do a push against the repo in the develop branch (gitflow methodology) or trigger a PR, AppVeyor should do an automatic build against the Cake build script in the repo.

[2020-07-20 19:02] TheHokieCoder commented on #102
@phantomtypist Thanks for that heads up!

Partial good news is that, for .NET v4.5 and onwards, I was able to fix the request validation errors that the OP was encountering. v4.5+ provides a collection of non-validated inputs that don't trigger validation exceptions ([HttpRequest.Unvalidated](https://docs.microsoft.com/en-us/dotnet/api/system.web.httprequest.unvalidated?view=netframework-4.5#Syste

[2020-08-05 16:01] qinyuanpei opened #109 "Is there any way to ignore specified Controller or Action?"
We have a ASP.NET MVC 4 site which is developed by other people and this is the background. Now we had integrated it with dotnet-cas-client and it works ! But we found this client will block Web API, because people had wrote lots of Web API in a ASP.NET MVC 4 project. So my question is how to ignore specified Controller or Action, I had try to a fix the lifetime of IHttpModule, but it doesn't work

[2020-08-05 16:25] phantomtypist commented on #109
I'm not sure where you are sticking your [Authorize] attributes, but you can sprinkle them individually on only the Controllers and/or Actions you want to put them on.  The Authorize attribute triggers the authentication.  So if you take this granular approach instead of application-wide, the authorization would only happen on the things you applied the Authorize attribute to.  Then, if a specific

[2020-08-05 16:26] phantomtypist commented on #109
It's one of those things where like I don't see your code and your situation so I really can't help that much.  It's like poking around in the dark for something.  ¯\\\_(ツ)\_/¯

[2020-08-05 16:30] phantomtypist commented on #109
Like I said, I have no clue what "thing" you inherited from those outsourced consultants and if my experience tells me anything... I feel bad for you and your team deal with it.

You could also try looking at using the AllowAnonymous attribute on the specific controllers/actions you are looking to not trigger authentication on: https://docs.microsoft.com/en-us/aspnet/web-api/overview/security/auth

[2020-08-05 16:31] phantomtypist commented on #109
Someone wrote a blog article about it too: https://www.davidhayden.me/blog/asp.net-mvc-4-allowanonymous-attribute-and-authorize-attribute

I'm going to close the issue.  If you feel like you have anymore input just comment on this same issue.

<blockquote><img src="/media/default/images/favicon.ico" width="48" align="right"><div><strong><a href="https://www.davidhayden.me/blog/asp.net-mvc-4-allowa

[2020-08-05 16:31] #109 closed, assigned to nobody

[2020-08-05 16:38] phantomtypist commented on #102
I'm in favor of just doing the implementation in .NET 4.5.x and fully sunsetting the .NET 4.0 and lower support in this project.  At this point in time, people need to stop using the older versions of the framework.  It's going to make things easier in the long run internally within the project too.

[2020-08-05 16:39] phantomtypist commented on #102
Any objections from anyone deprecating support for anything lower than .NET 4.5.x?

[2020-08-05 17:32] TheHokieCoder commented on #108
@HamidRezaAshkiyan Any update on testing the CASv3 support in the client?

[2020-08-05 17:35] HamidRezaAshkiyan commented on #108
Sorry I have Problems with logging in the CAS server. The CAS server wants token from me and I'm have contacted server admin, unfortunately issue still persist and I'm still waiting for proper fix.

[2020-08-05 17:44] TheHokieCoder commented on #102
@phantomtypist How about we:
1. Update the docs for v1.X of this client with information about this "known issue" and how to work around it (bumping the validation mode down to 2.0).
2. Drop support for .NET Framework < v4.5.2, fixing the request validator issue, and bumping the version up to v2.0 to semantically indicate a breaking change?
3. Declare a policy that v1.X will no longer be supported

[2020-08-05 17:47] TheHokieCoder commented on #108
@HamidRezaAshkiyan Sounds good. I was just checking in as sometimes the original poster forgets to check back and let us know how things are going. Let us know when you are able to get your CAS server issue resolved and are then able to test out the CASv3 support. Thanks!

[2020-08-05 17:50] HamidRezaAshkiyan commented on #108
Sure, I will.

[2020-08-06 02:35] qinyuanpei commented on #109
I had try to add `[AllowAnonymous]` on Controllers or Actions. I also try to overwrite the `[Authorize]` to ignore some url pattern.
But all of this can't works, becase I have a configuration as following:
[code]
Just drop the `<deny users="?"/>`, so it is my wrong. Thansk for your help!

[2020-08-06 02:55] #70 closed

[2020-08-06 02:58] phantomtypist commented on #61
@TheHokieCoder the only thing left on this issue to work on is the SQL Server provider.  I think you said last time we spoke it was almost done?  I'm fine leaving the issue under me, but if you want to take the football you can assign it to yourself.

[2020-08-06 16:55] TheHokieCoder commented on #61
@phantomtypist I am fine with having this issue assigned to me. I'll get situated with where I left off and try to get this back on my radar so that we can have a (more) full selection of distributed cache providers. Thanks for bumping this for me.

[2020-08-17 13:22] KhanhVanCong commented on #90
I have this problem with API. I have one client app use the outer CAS to authentication and one other server API to authorization as well as get data. In the client web app, when the user was verified from the CAS server, How can I tell other server API that the user is authenticated and generate token? Do you have any experience with this problem?

[2020-08-17 18:15] TheHokieCoder commented on #90
@KhanhVanCong You will not be able to, out of the box, use the same token/authentication cookie generated by this ASP.NET CAS client to perform authentication/authorization with your API server that is another application/server. And as @phantomtypist mentioned earlier, this client does not currently support CAS via REST. What you are looking for is the ability to secure two or more microservices

[2020-08-18 02:11] KhanhVanCong commented on #90
@TheHokieCoder Thank you for your support.

[2020-08-21 13:06] HamidRezaAshkiyan commented on #108
Unfortunately, Server admin doesn't respond and I couldn't solve problem on my own so close this issue or if you like keep it open for other to contribute and if anything changed i will come back and say it here. Thanks.

[2020-08-27 04:18] KhanhVanCong opened #110 "[SingleSignOut] Loop when use CasAuthentication.SingleSignOut in ActionResult"
Hi team,

- Now, I have an issue with logout from project ASP.NET MVC 5.

- In the backend, I have a controller with ActionResult as below

`public ActionResult Logout()
  {
      CasAuthentication.SingleSignOut();
      return RedirectToAction("Index", "Home");
 }`

- I have a tag `<a href="~/logout">` when user click this tag to logout, it will call `ActionResult Logout` and execute single sign

[2020-09-02 22:42] DustinLuck opened #111 "Attributes are not available when using AssertionRoleProvider"
When I add support for roles in the web.config of my app, I can no longer get attributes for the logged-in user.

[code]
I would normally be able to find the attributes in the Assertion object under `Controller.User`, but that doesn't exist when using the AssertionRoleProvider.

My app is using C# MVC and the protocol is Saml11. The role-based authorization works fine.

[2020-09-03 22:16] DustinLuck commented on #111
I was able to figure out how to get the attributes.

Rather than getting the principal using this line:
[code]
I used this line:
[code]

[2020-09-03 22:16] #111 closed, assigned to nobody

[2020-10-02 08:13] Khalidaba commented on #89
@phantomtypist is it possible to use CAS client in a .NET core Blazor project now?
i saw that you can use IdentityServer4 in blazor but it is possible by this way to use cas client?

[2020-10-02 12:42] phantomtypist commented on #89
@Khalidaba I've never tried that before.  Go and give it a try and report back.

[2020-10-02 12:49] TheHokieCoder commented on #89
@Khalidaba, @phantomtypist  I believe that you cannot use this DotNetCasClient in a Blazor project running on the .NET Core framework because this project currently only targets .NET Framework, so .NET Core is unsupported.

However, if you were to create a Blazor project that targets .NET Standard v2.0 or earlier (the only versions that work with .NET Framework; see [Code sharing and .NET Standard

[2020-10-02 12:49] Khalidaba commented on #89
haha, unfortunatly iam really new dev with no really experience and i dont think that i will be able to find it :-)
don't even know from where to start
but thanks for your answer ;-)

[2020-10-02 12:54] Khalidaba commented on #89
Thank @TheHokieCoder i will have a look, but as i said to @phantomtypist iam really new in this world and it feel very strange that there not already something on it ( CAS Client with Blazor) and it seems for me too strong to be the first working on it
But nothing to lose so i will check and try ;-) thanks

[2020-10-05 20:09] rrsingzon opened #112 "Unable to obtain CAS proxy ticket in load balanced environment"
Our web application is CAS enabled and works to get data from a CAS enabled backend.  Everything works fine and we can get a proxy ticket to retrieve data from the backend.  It is when it is launched in production where servers are load balanced that we get "Unable to obtain CAS proxy ticket" errors.   We changed our sessionState mode to "StateServer" in web.config hoping that one source handing s

[2020-10-05 22:13] phantomtypist commented on #112
Did you stand up a Memcached or Redis server to manage the tickets in a distributed fashion?  If you don't do this in a distributed load balanced environment then each server maintains its own tickets each other server isn't aware of.  If you use a central data store for the tickets then all servers phone home to that data store to create/read/update the tickets.  We have providers for Redis and M

[2020-10-06 16:12] rrsingzon commented on #112
Thanks for the information.  We’ll give it a try but it’d be great to have the MSSQL option.

From: Jason Kanaris <notifications@github.com>
Sent: Monday, October 5, 2020 3:14 PM
To: apereo/dotnet-cas-client <dotnet-cas-client@noreply.github.com>
Cc: Ryan Singzon <rrsingzon@cpp.edu>; Author <author@noreply.github.com>
Subject: Ex: Re: [apereo/dotnet-cas-client] Unable to obtain CAS proxy ticket in

[2020-10-06 16:26] phantomtypist commented on #112
@TheHokieCoder any update on the MSSQL distributed ticket store repo/nuget package?  If you're short on time and you feel comfortable dumping the code into that one repo for it go ahead.  Just give me some cliff notes and I'll take a look over it and see what I can do to get ready to ship it out.

[2020-10-06 16:26] phantomtypist commented on #112
@TheHokieCoder it's okay if the code looks like poop :)

[2020-10-16 05:35] zhaoyanwenqi opened #113 "/signin-cas?state=xxx"
.net core 3.1
 Jump after authentication / sign CAS? State = XXX what's wrong with this address?

[2020-10-16 07:11] phantomtypist commented on #113
You're going to have to give us more information.  I have no clue what you just typed in.

[2020-10-16 07:22] zhaoyanwenqi commented on #113
.cn/signin-cas?state=CfDJ8FlcKjJTmoxCjlUlBq-h_aO8hVRppinBN07tRW&nbsp;&nbsp;

return
Status Code: 404; Not Found      Do you have a. Net core SDK?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apereo/dotnet-cas-client"

[2020-10-16 15:53] phantomtypist commented on #113
This specific project does not work with .NET Core projects.

[2020-10-16 15:53] #113 closed, assigned to nobody

[2020-10-20 15:31] phantomtypist commented on #110
I'm not sure I fully understand here.  Can you clearly detail a reproduction scenario for me?  Step by step please with as much detail as possible, clearly.

[2020-10-29 05:30] MattHodgman commented on #67
Does the current version of DotNetCasClient work with ASP.NET Core 2.1/3.1? when I install the NuGet package it says

[2020-10-29 16:29] TheHokieCoder commented on #67
@MattHodgman No, currently this project only targets .NET Framework. It is on our list of new features to support .NET Core, but unfortunately me and @phantomtypist have been too busy to get this completed. For the time being I recommend that you search for other CAS clients if you need it for a project targeting .NET Core. One that I have personally used is [IUCrimson/AspNet.Security.CAS](/IUCrim

[2020-10-30 16:45] MattHodgman commented on #67
Ok, thanks for the quick reply. It will be awesome when that gets done because it seems like .NET Core is the way everything is going. I saw there is a fork where someone made a Core compatible version of DotNetCasClient... do you know what that's about?

[2020-10-30 16:51] phantomtypist commented on #67
@MattHodgman got a link to that forked repo?  Sometimes I gotta SMH why people that do this don't just talk with us and make the contributions in the core project.

[2020-10-30 17:37] TheHokieCoder commented on #67
@phantomtypist I think he's probably referring to the fork by **JLewinski** that is mentioned a few times in previous comments. If not, I'd too be curious of what this other fork is.

I'd really like to be able to spend some time with you (via Zoom, perhaps) to go over the structure of the entire project, what targets we should have, how we should deploy those targets to separate packages (if nece

[2021-01-19 05:26] yoshiask commented on #67
I'm also looking for a .NET Standard library (<=2.0) for CAS, and haven't found anything. I need to use this in a native app, not an ASP.NET server, and there don't seem to be any existing libraries for this.

[2021-02-22 03:27] Gavinluo opened #116 "Is it support SAML 2.0 ?"
readme list support saml 1.1 ， https://apereo.github.io/cas list support saml 2.0  ？ may i use this client for saml 2.0 ?

[2021-03-25 18:11] toddharvey opened #117 "too many redirects"
DotNet 4.7.2
DotNetCasClient  1.3.2

Web.Config (url's stripped)
  <casClientConfig
    xdt:Transform="Replace"
    casServerLoginUrl="***"
    casServerUrlPrefix="***"
    ticketTimeTolerance="10000"
  serverName="***"
  ticketValidatorName="Saml11"
  redirectAfterValidation="true"
  singleSignOut="true"
  serviceTicketManager="CacheServiceTicketManager"
    />

Trace log output (some of it)
DotN

[2021-03-25 18:45] toddharvey commented on #117
I inspected the DLL with jet brains and in order to ensure it was the latest DotNetCas client, removed the reference, reinstalled the package. To confirm:
packages.config(5):  <package id="DotNetCasClient" version="1.3.2" targetFramework="net472" />

and improved error log (in case it showed an out of date dll before:)
DotNetCasClient.HttpModule Information: 3237 :   Redirecting to CAS Login Page

[2021-03-25 19:49] phantomtypist commented on #117
Are both your app server and the server CAS is running on both communicating over the same TLS version?

This happens A LOT when some people have one server restricted to one version that the other server doesn't support.  E.g. one server is using TLS 1.0 and the other is using a minimum of TLS 1.2.

[2021-03-25 19:54] phantomtypist commented on #117
Basically, the behavior you are seeing is this:

1. Client requests your web app
2. Web app server says "you not authenticated bruh"
3. Web app server redirects client to CAS server
4. Client completes validation with CAS server (auth ticket sent back to client and also stored in CAS server
5. Client redirected back to web app server and hands it the auth ticket
6. Web app server takes the auth ti

[2021-03-25 22:40] toddharvey commented on #117
thanks PhantomTypist - I'll confirm the TLS versions with my admin, but I'm very sure the two servers are communicating correctly, because I see what seems to be interchange between servers in the log. In the log I believe it fails at 4, the ticket is not generated because it couldn't create a secure channel to fetch the ticket. (I missed your replies earlier because I didn't know my github was co

[2021-03-26 13:57] phantomtypist commented on #117
What do you mean "failed at 4"?  If you're getting an error that says "couldn't create a secure channel" that means your servers can't connect to the CAS server.  Secure channel means TLS.

[2021-03-26 13:59] phantomtypist commented on #117
Here's some good documentation on TLS stuff as well: https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls

[2021-03-26 14:00] toddharvey commented on #117
My sysadmin fixed this issue. I had dotnet runtime set to 4.5. something, which didn't support TLS 1.2 apparently.

This is the correction in web config (add brackets as appropriate):
    httpRuntime targetFramework="4.7.2" maxRequestLength="17000000" enable="true" executionTimeout="18000"

[2021-03-26 14:00] #117 closed, assigned to nobody

[2021-03-26 14:02] phantomtypist commented on #117
.NET 4.5 does support TLS 1.2, but to get it to work you have to set it in code using:

`System.Net.ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;`

You can actually enable it in .NET 4.0 as well, but the enum isn't there so you have to set it like so:

`System.Net.ServicePointManager.SecurityProtocol = 3072;`

[2021-03-28 03:09] Clamsik commented on #116
What version are you talking about? I Need to know of 3.1.10 version support It.

[2021-04-16 12:54] #48 closed

[2021-06-12 00:26] vikebone commented on #72
Thank you for the above.  It was very helpful.

I also found another reason that this issue can be occurring.  Check the .NET Authorization rules in IIS.  If it is not either Anonymous or All Users it can cause this infinite redirect loop.

To check and/or change: Open IIS either at the server level or the website level.  Click on IIS > Authorization Rules.  Click on Allow rule.  Click on right pa

[2021-07-15 13:44] AnupPatilDassaultSystem opened #119 "Null ProxyGrantingTicket found"
Error is random and not reproducible. There are CAS logs created.
What test should be performed to check for error before calling GetProxyTicketIdFor method
casTicket = CasAuthentication.ServiceTicketManager.GetTicket(formsAuthTicket.UserData);
if (casTicket.ProxyGrantingTicket == null)
{
 	// How to get PGT??
	//
}
Current workaround restart IIS website on the production server.
Production is usi

[2021-07-21 16:27] phantomtypist commented on #116
If you look at the code in the repo you'll see there is no SAML 3.1.10 support.

[2021-07-21 16:27] phantomtypist commented on #116
Did you try it?

<blockquote><div><strong><a href="https://apereo.github.io/cas">CAS Server Documentation Home</a></strong></div></blockquote>

[2021-07-21 16:27] #116 closed, assigned to nobody

[2021-08-25 19:35] JanairoRio commented on #110
Hi pretty clear and i have the same problem .
After logout ( with CasAuthentication.SingleSignOut(); on a ResultAction) we got the the SSo connection page with on the url a redirection to our logout ActionResult , we excpeted to have our HomePage.

[2021-08-25 19:49] TheHokieCoder commented on #110
@JanairoRio I believe that when you use the `SingleSignOut()` method:
1. That method is performing a redirect via the HTTP request object for you...there is no need or purpose to manually redirecting like @KhanhVanCong included in their code snippet. (see the [SingleSignOut()](https://github.com/apereo/dotnet-cas-client/blob/2677b8d182af40d490644e08d194ce811f3e3795/DotNetCasClient/CasAuthenticatio

[2022-03-11 21:37] ajc-uconn commented on #67
Any update on if there is still a plan to add support for .NET 6 or .NET standard to this library @phantomtypist ?

[2022-03-12 02:14] MattHodgman commented on #67
Sorry to reply... 2 years later haha but thanks @phantomtypist I used [IUCrimson/AspNet.Security.CAS](https://github.com/IUCrimson/AspNet.Security.CAS) and got it working on .NET Core 3.1... I haven't made the switch to Core 5.0 yet though so hopefully it still works whenever I do that. And yes @TheHokieCoder I was referring to JLewinski's, though I didn't end up using his.

[2022-06-05 08:55] MostafaMahdy opened #122 "get user attributes"
i use cas10 on my mvc application & want to get user attributes after successful login but no attributes returns

[2022-06-05 12:51] TheHokieCoder commented on #122
@MostafaMahdy Unfortunately the CAS v1.0 specification does not support user attributes. It only supports providing the asserted identity of the user who logged in. See the specification details for more information: https://apereo.github.io/cas/6.5.x/protocol/CAS-Protocol-Specification.html#242-response

If you need user attributes, please use CAS v3.0 (cas30) or SAML v1.1 (saml11). The CAS serve

[2022-06-06 06:13] MostafaMahdy commented on #122
i tried to set ticketValidatorName="Cas30" but i get this message "Could not find ticket validatory type Cas30", how to use cas30 on my application please?!

[2022-06-06 14:25] TheHokieCoder commented on #122
My apologies, @MostafaMahdy. It's been quite a while since I've worked with this project, so I forgot that CAS v3 support is currently only experimental and not yet merged into the main branch. Please check out issue #108 for further details. It would actually be a big help if you were able to test out the experimental CAS v3 implementation.

Does your identity provider support SAML v1.1? If so, g

[2022-06-07 08:10] MostafaMahdy87 commented on #122
my identity provider support SAML v1.1 & i get the attributes but it does not redirect after login to my service it keeps on login page contains user attributes

[2022-06-08 12:54] TheHokieCoder commented on #122
@MostafaMahdy Would you please provide what you have configured for your `casClientConfig` section of your web.config file? Before posting that section here, though, please scrub any sensitive details about your CAS server. We don't need to know the exact URL of your CAS server endpoints.

[2022-06-09 06:37] MostafaMahdy commented on #122
<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>

    <section name="casClientConfig" type="DotNetCasClient.Configuration.CasClientConfiguration, DotNetCasClient" />

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission=

[2022-06-09 06:41] MostafaMahdy commented on #122
[config.txt](https://github.com/apereo/dotnet-cas-client/files/8867575/config.txt)
that is my config

[2022-06-13 02:11] pintse opened #123 "Do you provide client SDK/library for .net core (3.1)?"
I can't find out client SDK/library for the .net core provided by Apereo.
Do you provide SDK for the .net core (3.1)?
If there is no CAS client SDK/library for the .net core, how to integrate our system with CAS?
Do you have any suggestions?

Thank you!

[2022-11-03 02:23] Gavinluo commented on #116
I implemented this myself